<div class="row">
    <div class="form-group col-sm-6">
        <label for="sbo_Aetiology">Aetiology</label>
        <select name="sbo_Aetiology" id="sbo_Aetiology" class="form-control">
            <option value=""></option>
            <option value="Congenital band adhesion">Congenital band adhesion</option>
            <option value="Post-operative adhesions">Post-operative adhesions</option>
            <option value="Right sided colon cancer">Right sided colon cancer</option>
            <option value="Crohn’s diseas">Crohn’s diseas</option>
            <option value="Disseminated intra-abdominal malignancy">Disseminated intra-abdominal
                malignancy
            </option>
            <option value="Incarcerated hernia - Groin">Incarcerated hernia - Groin</option>
            <option value="Incarcerated hernia - Midline">Incarcerated hernia - Midline</option>
            <option value="Incarcerated hernia – Incisional">Incarcerated hernia – Incisional</option>
            <option value="Incarcerated hernia - Parastomal">Incarcerated hernia - Parastomal</option>
            <option value="Small bowel Volvulus">Small bowel Volvulus</option>
            <option value="Other">Other</option>
        </select>
    </div>
    <!-- add text box here for other condition -->
</div>

<div class="row">
    <div class="form-group col-sm-4">
        <label for="sbo_surgery">Surgery</label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="sbo_surgery" id="sbo_surgeryRadio1" value="Yes">
            <label class="form-check-label" for="sbo_surgeryRadio1">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="sbo_surgery" id="sbo_surgeryRadio2" value="No">
            <label class="form-check-label" for="sbo_surgeryRadio2">No</label>
        </div>
    </div>
    <div class="form-group col-sm-6 input_visibility" id="sbosurgeryDT">
        <label for="sbo_surgery_date">Date and Time of Surgery</label>
        <input type="datetime-local" name="sbo_surgery_date" class="form-control" id="sbo_surgery_date">
    </div>
</div>

<div class="form-group" id="checkboxes">
    <label for="sbointerventionid">Intervention</label>
    <br>

    <div class="row">

        <div class="col-md-4">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Division (single) band adhesion"
                    id="interventionCheckR11" name=sbointerventionid>
                <label class="form-check-label" for="interventionCheckR11">Division (single) band
                    adhesion</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Adhesiolysis" id="interventionCheckR12"
                    name=sbointerventionid>
                <label class="form-check-label" for="interventionCheckR12">Adhesiolysis</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Hernia repair" id="interventionCheckR13"
                    name=sbointerventionid>
                <label class="form-check-label" for="interventionCheckR13">Hernia repair</label>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Small bowel resection" id="interventionCheckR21"
                    name=sbointerventionid>
                <label class="form-check-label" for="interventionCheckR21">Small bowel resection</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Large bowel resection" id="interventionCheckR22"
                    name=sbointerventionid>
                <label class="form-check-label" for="interventionCheckR22">Large bowel resection</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Formation jejunostomy" id="interventionCheckR23"
                    name=sbointerventionid>
                <label class="form-check-label" for="interventionCheckR23">Formation jejunostomy</label>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Formation ileostomy" id="interventionCheckR31"
                    name=sbointerventionid>
                <label class="form-check-label" for="interventionCheckR31">Formation ileostomy</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Anastomosis of bowel" id="interventionCheckR32"
                    name=sbointerventionid>
                <label class="form-check-label" for="interventionCheckR32">Anastomosis of bowel</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Other" id="interventionCheckR33"
                    name=sbointerventionid>
                <label class="form-check-label" for="interventionCheckR33">Other</label>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="form-group col-sm-6">
        <label for="enteralnutritiondate">Date resumed enteral nutrition</label>
        <input type="datetime-local" name="enteralnutritiondate" class="form-control" id="enteralnutritiondate">
    </div>
</div>