<div class="row">
    <div class="form-group col-sm-6">
        <label for="albumin">Albumin (g/dL)</label>
        <input type="number" name="albumin" class="form-control" step=0.01 id="albumin">
    </div>
</div>