<div class="row">
    <div class="form-group col-sm-4">
        <label for="sbo_abdoXray">Abdominal X-ray performed</label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="sbo_abdoXray" id="abdoXrRadio1" value="Yes">
            <label class="form-check-label" for="abdoXrRadio1">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="sbo_abdoXray" id="abdoXrRadio2" value="No">
            <label class="form-check-label" for="abdoXrRadio2">No</label>
        </div>
    </div>

    <!-- needs to be visible only when yes is selected -->
    <div class="form-group col-sm-6 input_visibility" id="abdoDT">
        <label for="sbo_abdoXray_date">Date and Time of X-ray</label>
        <input type="datetime-local" name="sbo_abdoXray_date" class="form-control" id="sbo_abdoXray_date">
    </div>
</div>

<div class="row">
    <div class="form-group col-sm-4">
        <label for="sbo_ct">CT scan performed</label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="sbo_ct" id="ctRadio1" value="Yes">
            <label class="form-check-label" for="ctRadio1">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="sbo_ct" id="ctRadio2" value="No">
            <label class="form-check-label" for="ctRadio2">No</label>
        </div>
    </div>

    <!-- needs to be visible only when yes is selected -->
    <div class="form-group col-sm-4 input_visibility" id="ctDT">
        <label for="sbo_ct_date">Date and Time of CT</label>
        <input type="datetime-local" name="sbo_ct_date" class="form-control" id="sbo_ct_date">
    </div>
</div>

<div class="row">

    <div class="form-group col-sm-6">
        <label for="sbo_contrast_agent">Did the patient receive water-soluble contrast agent
            (gastrografin)
            apart from when undergoing a CT scan</label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="sbo_contrast_agent" id="contrastRadio1" value="Yes">
            <label class="form-check-label" for="contrastRadio1">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="sbo_contrast_agent" id="contrastRadio2" value="No">
            <label class="form-check-label" for="contrastRadio2">No</label>
        </div>
    </div>

    <div class="form-group col-sm-4 input_visibility" id="contrastDT">
        <label for="sbo_contrast_date">Date and Time</label>
        <input type="datetime-local" name="sbo_contrast_date" class="form-control" id="sbo_contrast_date">
    </div>

</div>