<div class="row">
    <div class="form-group col-sm-6">
        <label for="sbo_comorbiditiesid">Co-morbidities</label>
        <select name="sbo_comorbiditiesid" id="sbo_comorbiditiesid" class="form-control">
            <option value=""></option>
            <option value="IHD">IHD</option>
            <option value="CCF">CCF</option>
            <option value="CVA">CVA</option>
            <option value="Hemiplegia">Hemiplegia</option>
            <option value="Leukaemia">Leukaemia</option>
            <option value="Lymphoma">Lymphoma</option>
            <option value="Mild Liver Disease">Mild Liver Disease</option>
            <option value="Severe Liver Disease">Severe Liver Disease</option>
            <option value="Connective Tissue Disease">Connective Tissue Disease</option>
            <option value="Peptic Ulcer Disease">Peptic Ulcer Disease</option>
            <option value="PVD">PVD</option>
            <option value="COPD">COPD</option>
            <option value="Dementia">Dementia</option>
            <option value="DM (uncomplicated)">DM (uncomplicated)</option>
            <option value="DM (complicated)">DM (complicated)</option>
            <option value="CKD">CKD</option>
            <option value="Solid Tumour">Solid Tumour</option>
            <option value="Metastatic">Metastatic</option>
            <option value="AIDS">AIDS</option>

        </select>
    </div>
</div>


<div class="row">
    <div class="form-group col-sm-6">
        <label for="sbo_onsetvomitting">Onset of Vomiting</label>
        <input type="datetime-local" name="sbo_onsetvomitting" class="form-control" id="sbo_onsetvomitting">
    </div>
</div>

<div class="row">
    <div class="form-group col-sm-6">
        <label for="sbo_initialmgmtstrategyid">Initial Management Strategy</label>
        <select name="sbo_initialmgmtstrategyid" id="sbo_initialmgmtstrategyid" class="form-control">
            <option value=""></option>
            <option value="Conservative">Conservative</option>
            <option value="Operative">Operative</option>
            <option value="Palliative">Palliative</option>
        </select>
    </div>
</div>