<nav id=mainNavBar class="navbar navbar-light navbar-expand-md py-0 ">

    <div class="container-fluid">
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks"><span class="navbar-toggler-icon"
                aria-label="Toggle Navigation"></span></button>

        <div class="collapse navbar-collapse" id="navLinks">

            <!-- <div class="logo_space"><img src="/imgs/esoap_logo.jpg" alt="logo_esoap" id="esoap"></div>
            <div class="logo_space"><img src="/imgs/esoap_logo.jpg" alt="logo_esoap" id="esoap"></div>
            
        -->
            <div id=logo_container>
                <div class="logo_space">
                    <img class="logo_imgs" src="/imgs/hse_logo.png" alt="logo_hse" id="hse">
                </div>
                <div class="logo_space">
                    <img class="logo_imgs" src="/imgs/living_lab.png" alt="logo_living" id="living_lab">
                </div>
                <div class="logo_space">
                    <img class="logo_imgs" src="/imgs/esoap_transparent.png" alt="logo_esoap" id="esoap">
                </div>
            </div>

            <div id="main-nav-space">

                <div class="brand">
                    <h5>Emergency Surgery Outcomes Advancement Program</h5>
                </div>

                <form action='/landing' class="form-inline my-2 my-lg-0" method="POST" id="pcn_search_bar">
                    <input class="form-control mr-sm-2" type="number" name="user" id="patient_id"
                        placeholder="Enter Patient PCN" aria-label="Search" required>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Find Patient</button>
                </form>



                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <form action="/user/signout" id="signout_form"><button id="signout_btn">SIGN
                                OUT</button></form>
                    </li>
                </ul>
            </div>


        </div>
    </div>
</nav>