<!-- Date Time -->
<div class="row">
    <div class="form-group col-sm-">
        <label for="fieldName">ViewName</label>
        <input type="datetime-local" name="fieldName" class="form-control" id="fieldName">
    </div>
</div>

<!-- Number -->
<div class="row">
    <div class="form-group col-sm-">
        <label for="fieldName">ViewName</label>
        <input type="number" name="fieldName" step=0.01 class="form-control" id="fieldName">
    </div>
</div>

<!-- Text -->
<div class="row">
    <div class="form-group col-sm-">
        <label for="fieldName">ViewName</label>
        <input type="text" name="fieldName" class="form-control" id="fieldName">
    </div>
</div>

<!-- Yes No radio -->
<div class="row">
    <div class="form-group col-sm-6">
        <label for="fieldName">ViewName</label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="fieldName" id="tempRadRadio1" value="Yes">
            <label class="form-check-label" for="tempRadRadio1">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="fieldName" id="tempRadRadio2" value="No">
            <label class="form-check-label" for="tempRadRadio2">No</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="fieldName" id="tempRadRadio3" value="ND">
            <label class="form-check-label" for="tempRadRadio3">ND</label>
        </div>
    </div>
</div>

<!-- Select Menu -->
<div class="row">
    <div class="form-group col-sm-6">
        <label for="fieldName">ViewName</label>
        <select name="fieldName" id="fieldName" class="form-control">
            <option value=""></option>
            <option value=""></option>
            <option value="ND">ND</option>
        </select>
    </div>
</div>

<!-- Check Boxes -->

<div class="form-group" id="checkboxes">
    <label for="presententingcompaintid">Presenting Complaint</label>
    <br>

    <div class="row">

        <!-- Row 1 -->
        <div class="col-md-4" id="checkbox_option">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="fieldValue" id="presentingCheckR1_"
                    name=fieldName>
                <label class="form-check-label" for="presentingCheckR1_">fieldValue</label>
            </div>
        </div>


        <!-- Row 2 -->
        <div class="col-md-4" id="checkbox_option">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="fieldValue" id="presentingCheckR2_"
                    name=fieldName>
                <label class="form-check-label" for="presentingCheckR2_">fieldValue</label>
            </div>
        </div>

        <!-- Row 3 -->
        <div class="col-md-4" id="checkbox_option">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="fieldValue" id="presentingCheckR3_"
                    name=fieldName>
                <label class="form-check-label" for="presentingCheckR3_">fieldValue</label>
            </div>
        </div>

    </div>
</div>

<!-- Text Area -->