html{
    font-family: 'Open Sans', sans-serif;
    box-sizing:border-box;
}

#page_footer{
    background-color: #cddfd8;
    /* color:white !important; */
}

/* nav{
    background-color: #cddfd8;
    text-align: right;
    padding: .5em 0;
    display: flex;
    border-bottom: 1px solid black;

}


nav div a{
    text-decoration: #b4083a underline;
    color: #b4083a;
}

nav div{
    margin: 0em 1em;
    padding: 0 .5em;
    flex-basis: 300px;
    font-size: 1.5rem;

    font-weight: 600;
}

nav div:nth-of-type(1){
    flex-grow: 1;
}

nav div.txt{
    padding:0;
} */

nav{
    background-color: #cddfd8;
    font-size: 1.2rem;
    color:#b4083a;

}

#signout_btn{
    background: none;
	color: inherit;
	border: none;
	padding-top: 8px;
	font: inherit;
	cursor: pointer;
	outline: inherit;

}

/* @media (max_width:768px) {
    
    #signout_btn{
        padding-left: 0px;
    
    }
} */



main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pt_links{
    /* margin: 0 auto; */
    padding: 20px 0;
    width: 500px;
    /* border: 1px solid black;  */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pt_links div a{

    text-decoration: none;
    font-size: 1.75rem;
    color: white;

}

.pt_links div{
    margin: 1em 1em;
    background-color: #006857;
    border-radius: 10px;
    padding: 1.5em 1.5em;
    width: 80%;
    text-align: center;

}

.pt_info{
    /* margin: 0 auto; */
    width: 500px;
    font-size: 1.5rem;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

table, td{
    table-layout: fixed;
    width: 200px;
    border-collapse: collapse;
    border: 1px solid #333;
    
}

td{
    padding: .2em .4em;
}

@media (min-width:1000px){
    main{
        flex-direction: row;
    }
}

h1{
    margin: .5em 0;
}



