html{
    font-family: 'Open Sans', sans-serif;
    box-sizing:border-box;
}

#page_footer{
    background-color: #cddfd8;
    /* color:white !important; */
}


nav{
    background-color: #cddfd8;
    font-size: 1.2rem;
    color:#b4083a;

}

#signout_btn{
    background: none;
	color: inherit;
	border: none;
	padding-top: 8px;
	font: inherit;
	cursor: pointer;
	outline: inherit;

}

.wrapper{
    height:auto !important;
    display: flex;
    flex:1;
}

/* @media (max_width:768px) {
    
    #signout_btn{
        padding-left: 0px;
    
    }
} */



.dashboard{
    width: 2000px !important;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow:1; */
    /* border: 1px solid black; */
}

.content{
    /* flex-basis:400px; */
    /* margin: 20px 10px; */
    min-height:200px;
    /* flex-grow:1; */
    border: 1px solid black;
    border-radius: 5px;
background-color: white;
    

}

.content:nth-of-type(1){
    flex-grow:2;
}

.content:nth-child(2){
    flex-grow:1;
    overflow-y:scroll;
    max-height:400px;

}





.pt_links{
    /* margin: 0 auto; */
    padding: 1em 0;
    /* width: 500px; */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pt_links div a{
    text-decoration: none;
    font-size: 1em;
}

.pt_links div{
    margin: 0.3em 0.75em;
    background-color: #b4083a;
    color: white;
    border-radius: 10px;
    padding: 0.5em 0;
    width: 80%;
    border:1px solid #b4083a;
    text-align: center;
    transition: all 200ms ease-in-out;


}

.pt_links div:hover{

    background-color: white;
   color: #b4083a;
   
}

/* .table-striped{
    font-size:1vw;
}

.table-striped th, .table-striped td{
padding: 1em;
}  */


.info_table table, .info_table td{
    table-layout: fixed;
    /* width: 150px; */
    border-collapse: collapse;
    border: 1px solid #333;
    
}

td a{
    text-decoration: underline;
    color: #b4083a;
}

.info_table td{
    padding: .2em .4em;
}

@media (min-width:1000px){
    main{
        flex-direction: row;
    }
}

h1{
    margin: .5em 0;
}



