<div class="row">
    <div class="form-group col-sm-6">
        <label for="ercpid">ERCP</label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="ercpid" id="ercpRadio1" value="Yes">
            <label class="form-check-label" for="ercpRadio1">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="ercpid" id="ercpRadio2" value="No">
            <label class="form-check-label" for="ercpRadio2">No</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="ercpid" id="ercpRadio3" value="ND">
            <label class="form-check-label" for="ercpRadio3">ND</label>
        </div>
    </div>
</div>

<div class="form-group input_visibility" id="finding_area">
    <label for="ercpfindings">ERCP Findings</label>
    <!-- <input type="text" name="findings" class="form-control" id="findings"> -->
    <textarea name="ercpfindings" id="ercpfindings" class="form-control" cols="30" rows="4"></textarea>
</div>