<div class="row">
    <div class="form-group col-sm-6">
        <label for="peritonealcontaminationid">Please describe the peritoneal contamination
            present</label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="peritonealcontaminationid" id="pericontamRadio1"
                value="None">
            <label class="form-check-label" for="pericontamRadio1">None</label>
        </div>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="peritonealcontaminationid" id="pericontamRadio2"
                value="Pus">
            <label class="form-check-label" for="pericontamRadio2">Pus</label>
        </div>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="peritonealcontaminationid" id="pericontamRadio3"
                value="Bile">
            <label class="form-check-label" for="pericontamRadio3">Bile</label>
        </div>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="peritonealcontaminationid" id="pericontamRadio4"
                value="Combination">
            <label class="form-check-label" for="pericontamRadio4">Combination</label>
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group col-sm-6">
        <label for="cholangiographyid">Cholangiography</label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="cholangiographyid" id="cholangioRadio1" value="Yes">
            <label class="form-check-label" for="cholangioRadio1">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="cholangiographyid" id="cholangioRadio2" value="No">
            <label class="form-check-label" for="cholangioRadio2">No</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="cholangiographyid" id="cholangioRadio3" value="ND">
            <label class="form-check-label" for="cholangioRadio3">ND</label>
        </div>
    </div>
</div>