<div class="row">
    <div class="form-group col-sm-6">
        <label for="rmurphyssignpositiveid">Murphy’s Sign Positive</label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="rmurphyssignpositiveid" id="murphyRadio1" value="Yes">
            <label class="form-check-label" for="murphyRadio1">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="rmurphyssignpositiveid" id="murphyRadio2" value="No">
            <label class="form-check-label" for="murphyRadio2">No</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="rmurphyssignpositiveid" id="murphyRadio3" value="ND">
            <label class="form-check-label" for="murphyRadio3">ND</label>
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group col-sm-6">
        <label for="ruq_jaundiceid">Jaundice</label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="ruq_jaundiceid" id="ruq_jaundiceRadio1" value="Yes">
            <label class="form-check-label" for="ruq_jaundiceRadio1">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="ruq_jaundiceid" id="ruq_jaundiceRadio2" value="No">
            <label class="form-check-label" for="ruq_jaundiceRadio2">No</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="ruq_jaundiceid" id="ruq_jaundiceRadio3" value="ND">
            <label class="form-check-label" for="ruq_jaundiceRadio3">ND</label>
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group col-sm-6">
        <label for="ruq_rigorsid">Rigors</label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="ruq_rigorsid" id="ruq_rigorsRadio1" value="Yes">
            <label class="form-check-label" for="ruq_rigorsRadio1">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="ruq_rigorsid" id="ruq_rigorsRadio2" value="No">
            <label class="form-check-label" for="ruq_rigorsRadio2">No</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="ruq_rigorsid" id="ruq_rigorsRadio3" value="ND">
            <label class="form-check-label" for="ruq_rigorsRadio3">ND</label>
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group col-sm-6">
        <label for="lowerabdominalsignsid">Lower abdominal signs (LIF and/or Suprapubic region)</label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="lowerabdominalsignsid" id="LIFRadio1" value="Yes">
            <label class="form-check-label" for="LIFRadio1">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="lowerabdominalsignsid" id="LIFRadio2" value="No">
            <label class="form-check-label" for="LIFRadio2">No</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="lowerabdominalsignsid" id="LIFRadio3" value="ND">
            <label class="form-check-label" for="LIFRadio3">ND</label>
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group col-sm-6">
        <label for="confusionid">Confusion (Recent Onset)</label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="confusionid" id="confusionRadio1" value="Yes">
            <label class="form-check-label" for="confusionRadio1">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="confusionid" id="confusionRadio2" value="No">
            <label class="form-check-label" for="confusionRadio2">No</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="confusionid" id="confusionRadio3" value="ND">
            <label class="form-check-label" for="confusionRadio3">ND</label>
        </div>
    </div>
</div>