<div class="row">
    <div class="form-group col-sm-6">
        <label for="alt">ALT</label>
        <input type="number" step=0.01 name="alt" class="form-control" id="alt">
    </div>

    <div class="form-group col-sm-6">
        <label for="ast">AST</label>
        <input type="number" step=0.01 name="ast" class="form-control" id="ast">
    </div>
</div>
<div class="row">
    <div class="form-group col-sm-6">
        <label for="alkalinephosphatase">Alkaline Phosphatase</label>
        <input type="number" step=0.01 name="alkalinephosphatase" class="form-control" id="alkalinephosphatase">
    </div>

    <div class="form-group col-sm-6">
        <label for="totalbilirubin">Total Bilirubin</label>
        <input type="number" step=0.01 name="totalbilirubin" class="form-control" id="totalbilirubin">
    </div>
</div>