<div class="row">
    <div class="form-group col-sm-6">
        <label for="dayssincepainonsetid">Days since Onset of Pain</label>
        <select name="dayssincepainonsetid" id="dayssincepainonsetid" class="form-control">
            <option value=""></option>
            <option value="Days_1">1</option>
            <option value="Days_2">2</option>
            <option value="Days_3">3</option>
            <option value="Days_4">4</option>
            <option value="Days_5">5</option>
            <option value="Days_6">6</option>
            <option value="Days_7">7</option>
            <option value="Days_7+"> >7 days</option>
        </select>
    </div>
</div>


<div class="row">
    <div class="form-group col-sm-6">
        <label for="firstepisodeid">First Episode</label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="firstepisodeid" id="firstEpRadio1" value="Yes">
            <label class="form-check-label" for="firstEpRadio1">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="firstepisodeid" id="firstEpRadio2" value="No">
            <label class="form-check-label" for="firstEpRadio2">No</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="firstepisodeid" id="firstEpRadio3" value="ND">
            <label class="form-check-label" for="firstEpRadio3">ND</label>
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group col-sm-6">
        <label for="prevadmiswithcholid">Previous admission with cholecystitis</label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="prevadmiswithcholid" id="prevColRadio1" value="Yes">
            <label class="form-check-label" for="prevColRadio1">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="prevadmiswithcholid" id="prevColRadio2" value="No">
            <label class="form-check-label" for="prevColRadio2">No</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="prevadmiswithcholid" id="prevColRadio3" value="ND">
            <label class="form-check-label" for="prevColRadio3">ND</label>
        </div>
    </div>
</div>