<div class="row">
    <div class="form-group col-sm-6" id="cxrDiv">
        <label for="cxrdatetime">CXR Date and Time</label>
        <input type="datetime-local" name="cxrdatetime" class="form-control" id="cxrdatetime">
    </div>

    <div class="form-group col-sm-6" id="pfaDiv">
        <label for="pfadatetime">PFA Date and Time</label>
        <input type="datetime-local" name="pfadatetime" class="form-control" id="pfadatetime">
    </div>



</div>
<div class="row">
    <div class="form-group col-sm-8">
        <label for="usid">US</label>
        <select name="usid" id="usid" class="form-control">
            <option value=""></option>
            <option value="Abdomen">Abdomen</option>
            <option value="Abdiment and Pelvis-Trans Abdominal/Trans Vaginal">Abdiment and Pelvis-Trans
                Abdominal/Trans Vaginal</option>
            <option value="Breast">Breast</option>
            <option value="Pelvic Trans Abdominal/Trans Vaginal">Pelvic Trans Abdominal/Trans Vaginal
            </option>
            <option value="Renal (kidney both)">Renal (kidney both)</option>
            <!-- <option value="Trans Abdominal">Trans Abdominal</option>
                        <option value="Trans Vaginal">Trans Vaginal</option> -->
            <option value="Not Requested">Not Requested</option>
        </select>
    </div>
</div>

<div class="row input_visibility" id="usRow">
    <div class="form-group col-sm-4  input_visibility" id="usbookedDiv">
        <label for="usbookeddatetime">US Booked</label>
        <input type="datetime-local" name="usbookeddatetime" class="form-control" id="usbookeddatetime">
    </div>

    <div class="form-group col-sm-4  input_visibility" id=usperformedDiv>
        <label for="usperformeddatetime">US Performed</label>
        <input type="datetime-local" name="usperformeddatetime" class="form-control" id="usperformeddatetime">
    </div>

    <div class="form-group col-sm-4  input_visibility" id="usreportedDiv">
        <label for="usreporteddatetime">US Reported</label>
        <input type="datetime-local" name="usreporteddatetime" class="form-control" id="usreporteddatetime">
    </div>

</div>

<div class="row">
    <div class="form-group col-sm-8">
        <label for="ctid">CT</label>
        <select name="ctid" id="ctid" class="form-control">
            <option value=""></option>
            <option value="Abdomen">Abdomen</option>
            <option value="Abdomen & Pelvis">Abdomen & Pelvis</option>
            <option value="CT Angio">CT Angio</option>
            <option value="KUB">KUB</option>
            <option value="TAP">TAP</option>
            <option value="Thorax">Thorax</option>
            <option value="Urogram">Urogram</option>
            <option value="Not Requested">Not Requested</option>
        </select>
    </div>
</div>

<div class="row input_visibility" id="ctRow">
    <div class="form-group col-sm-4  input_visibility" id="ctbookedDiv">
        <label for="ctbookeddatetime">CT Booked</label>
        <input type="datetime-local" name="ctbookeddatetime" class="form-control" id="ctbookeddatetime">
    </div>

    <div class="form-group col-sm-4  input_visibility" id="ctperformedDiv">
        <label for="ctperformeddatetime">CT Performed</label>
        <input type="datetime-local" name="ctperformeddatetime" class="form-control" id="ctperformeddatetime">
    </div>

    <div class="form-group col-sm-4  input_visibility" id="ctreportedDiv">
        <label for="ctreporteddatetime">CT Reported</label>
        <input type="datetime-local" name="ctreporteddatetime" class="form-control" id="ctreporteddatetime">
    </div>

</div>

<div class="row">
    <div class="form-group col-sm-8">
        <label for="mriid">MRI</label>
        <select name="mriid" id="mriid" class="form-control">
            <option value=""></option>
            <option value="Abdomen">Abdomen</option>
            <option value="MRCP">MRCP</option>
            <option value="Pelvis">Pelvis</option>
            <option value="Not Requested">Not Requested</option>
        </select>
    </div>
</div>

<div class="row input_visibility" id="mriRow">
    <div class="form-group col-sm-4  input_visibility" id="mribookedDiv">
        <label for="mribookeddatetime">MRI Booked</label>
        <input type="datetime-local" name="mribookeddatetime" class="form-control" id="mribookeddatetime">
    </div>

    <div class="form-group col-sm-4  input_visibility" id="mriperformedDiv">
        <label for="mriperformeddatetime">MRI Performed</label>
        <input type="datetime-local" name="mriperformeddatetime" class="form-control" id="mriperformeddatetime">
    </div>

    <div class="form-group col-sm-4  input_visibility" id="mrireportedDiv">
        <label for="mrireporteddatetime">MRI Reported</label>
        <input type="datetime-local" name="mrireporteddatetime" class="form-control" id="mrireporteddatetime">
    </div>

</div>

<div class="row">
    <div class="form-group col-sm-8">
        <label for="otherimageid">Other Image</label>
        <select name="otherimageid" id="otherimageid" class="form-control">
            <option value="ND">ND</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
        </select>
    </div>
</div>

<div class="row input_visibility" id="otherimageRow">
    <div class="form-group col-sm-6  input_visibility" id="otherimagebookedDiv">
        <label for="otherimagebookeddatetime">Other Image Booked</label>
        <input type="datetime-local" name="otherimagebookeddatetime" class="form-control" id="otherimagebookeddatetime">
    </div>

    <div class="form-group col-sm-6  input_visibility" id="otherimageperformedDiv">
        <label for="otherimageperformeddatetime">Other Image Performed</label>
        <input type="datetime-local" name="otherimageperformeddatetime" class="form-control"
            id="otherimageperformeddatetime">
    </div>

    <div class="form-group col-sm-6  input_visibility" id="otherimagereportedDiv">
        <label for="otherimagereporteddatetime">Other Image Reported</label>
        <input type="datetime-local" name="otherimagereporteddatetime" class="form-control"
            id="otherimagereporteddatetime">
    </div>

</div>