<div class="row">
    <div class="form-group col-sm-6">
        <label for="rifpainid">RIF Pain</label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="rifpainid" id="rifPainRadio1" value="Yes">
            <label class="form-check-label" for="rifPainRadio1">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="rifpainid" id="rifPainRadio2" value="No">
            <label class="form-check-label" for="rifPainRadio2">No</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="rifpainid" id="rifPainRadio3" value="ND">
            <label class="form-check-label" for="rifPainRadio3">ND</label>
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group col-sm-6">
        <label for="migrationofpaintorifid">Migration of Pain to RIF</label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="migrationofpaintorifid" id="migrationRifRadio1"
                value="Yes">
            <label class="form-check-label" for="migrationRifRadio1">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="migrationofpaintorifid" id="migrationRifRadio2"
                value="No">
            <label class="form-check-label" for="migrationRifRadio2">No</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="migrationofpaintorifid" id="migrationRifRadio3"
                value="ND">
            <label class="form-check-label" for="migrationRifRadio3">ND</label>
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group col-sm-6">
        <label for="tenderid">Tender</label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="tenderid" id="tenderRadio1" value="Yes">
            <label class="form-check-label" for="tenderRadio1">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="tenderid" id="tenderRadio2" value="No">
            <label class="form-check-label" for="tenderRadio2">No</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="tenderid" id="tenderRadio3" value="ND">
            <label class="form-check-label" for="tenderRadio3">ND</label>
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group col-sm-6">
        <label for="guardingid">Guarding</label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="guardingid" id="guardingRadio1" value="Yes">
            <label class="form-check-label" for="guardingRadio1">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="guardingid" id="guardingRadio2" value="No">
            <label class="form-check-label" for="guardingRadio2">No</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="guardingid" id="guardingRadio3" value="ND">
            <label class="form-check-label" for="guardingRadio3">ND</label>
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group col-sm-6">
        <label for="reboundtendernessid">Rebound Tenderness</label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="reboundtendernessid" id="reboundtendernessRadio1"
                value="Yes">
            <label class="form-check-label" for="reboundtendernessRadio1">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="reboundtendernessid" id="reboundtendernessRadio2"
                value="No">
            <label class="form-check-label" for="reboundtendernessRadio2">No</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="reboundtendernessid" id="reboundtendernessRadio3"
                value="ND">
            <label class="form-check-label" for="reboundtendernessRadio3">ND</label>
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group col-sm-6">
        <label for="rigidityid">Rigidity</label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="rigidityid" id="rigidityRadio1" value="Yes">
            <label class="form-check-label" for="rigidityRadio1">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="rigidityid" id="rigidityRadio2" value="No">
            <label class="form-check-label" for="rigidityRadio2">No</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="rigidityid" id="rigidityRadio3" value="ND">
            <label class="form-check-label" for="rigidityRadio3">ND</label>
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group col-sm-6">
        <label for="rovsingssignid">Rovsing's Sign</label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="rovsingssignid" id="rovsingssignRadio1" value="Yes">
            <label class="form-check-label" for="rovsingssignRadio1">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="rovsingssignid" id="rovsingssignRadio2" value="No">
            <label class="form-check-label" for="rovsingssignRadio2">No</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="rovsingssignid" id="rovsingssignRadio3" value="ND">
            <label class="form-check-label" for="rovsingssignRadio3">ND</label>
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group col-sm-6">
        <label for="riskscoreid">Risk score used</label>
        <select name="riskscoreid" id="riskscoreid" class="form-control">
            <option value=""></option>
            <option value="Adult Appendicitis Score (AAS)">Adult Appendicitis Score (AAS)</option>
            <option value="Adult Inflammatory Score (AIR)">Adult Inflammatory Score (AIR)</option>
            <option value="Alvarado Score">Alvarado Score</option>
            <option value="Other">Other</option>

        </select>
    </div>

    <div class="form-group col-sm-6">
        <label for="riskscore">Calculated Risk Score</label>
        <input type="number" name="riskscore" class="form-control" id="riskscore">
    </div>

</div>