<div class="form-group" id="checkboxes">
    <label for="imagingfindingsid">Imaging Findings</label>
    <br>
    <div class="row">


        <div class="col-md-4">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="US Appendicitis Confirmed"
                    id="imgfindingsCheckR1_1" name=imagingfindingsid>
                <label class="form-check-label" for="imgfindingsCheckR1_1">US Appendicitis
                    Confirmed</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="US Equivocal" id="imgfindingsCheckR1_2"
                    name=imagingfindingsid>
                <label class="form-check-label" for="imgfindingsCheckR1_2">US Equivocal</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="US Appendicitis Ruled Out"
                    id="imgfindingsCheckR1_3" name=imagingfindingsid>
                <label class="form-check-label" for="imgfindingsCheckR1_3">US Appendicitis Ruled
                    Out</label>
            </div>

        </div>

        <div class="col-md-4">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="CT Appendicitis Confirmed"
                    id="imgfindingsCheckR2_1" name=imagingfindingsid>
                <label class="form-check-label" for="imgfindingsCheckR2_1">CT Appendicitis
                    Confirmed</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="CT Equivocal" id="imgfindingsCheckR2_2"
                    name=imagingfindingsid>
                <label class="form-check-label" for="imgfindingsCheckR2_2">CT Equivocal</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="CT Appendicitis Ruled Out"
                    id="imgfindingsCheckR2_3" name=imagingfindingsid>
                <label class="form-check-label" for="imgfindingsCheckR2_3">CT Appendicitis Ruled
                    Out</label>
            </div>
        </div>

        <div class="col-md-4" id="checkbox_option">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="MRI Appendicitis Confirmed"
                    id="imgfindingsCheckR3_1" name=imagingfindingsid>
                <label class="form-check-label" for="imgfindingsCheckR3_1">MRI Appendicitis
                    Confirmed</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="MRI Equivocal" id="imgfindingsCheckR3_2"
                    name=imagingfindingsid>
                <label class="form-check-label" for="imgfindingsCheckR3_2">MRI Equivocal</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="MRI Appendicitis Ruled Out"
                    id="imgfindingsCheckR3_3" name=imagingfindingsid>
                <label class="form-check-label" for="imgfindingsCheckR3_3">MRI Appendicitis Ruled
                    Out</label>
            </div>

        </div>
    </div>
</div>