<div class="row">
    <div class="form-group col-sm-6">
        <label for="interventionalradiology">Interventional Radiology</label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="interventionalradiology" id="radiologyRadio1"
                value="Yes">
            <label class="form-check-label" for="radiologyRadio1">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="interventionalradiology" id="radiologyRadio2" value="No">
            <label class="form-check-label" for="radiologyRadio2">No</label>
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group col-sm-6">
        <label for="rifsurgeryid">Surgery</label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="rifsurgeryid" id="surgeryRadio1" value="Yes">
            <label class="form-check-label" for="surgeryRadio1">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="rifsurgeryid" id="surgeryRadio2" value="No">
            <label class="form-check-label" for="surgeryRadio2">No</label>
        </div>
    </div>
</div>