<div class="row">
    <div class="form-group col-sm-6">
        <label for="neutrophilcount">Absolute Neutrophil count (10<sup>9</sup>/l)</label>
        <input type="number" name="neutrophilcount" class="form-control" step=0.01 id="neutrophilcount">
    </div>
</div>