<div class="row">
    <div class="form-group col-sm-6">
        <label for="appendicitisgradingid">AAST appendicitis grading</label>
        <select name="appendicitisgradingid" id="appendicitisgradingid" class="form-control">
            <option value=""></option>
            <option value="Normal">Normal</option>
            <option value="Grade_1">Grade 1</option>
            <option value="Grade_2">Grade 2</option>
            <option value="Grade_3">Grade 3</option>
            <option value="Grade_4">Grade 4</option>
            <option value="Grade_5">Grade 5</option>


        </select>
    </div>

</div>

<div class="row">
    <div class="form-group col-sm-6">
        <label for="drainid">Drain</label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="drainid" id="drainRadio1" value="Yes">
            <label class="form-check-label" for="drainRadio1">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="drainid" id="drainRadio2" value="No">
            <label class="form-check-label" for="drainRadio2">No</label>
        </div>
    </div>
</div>