<div class="row">

    <div class="form-group col-sm-6">
        <label for="seniorsurgeonid">Senior Surgeon Grade</label>
        <select name="seniorsurgeonid" id="seniorsurgeonid" class="form-control">
            <option value=""></option>
            <option value="Consultant">Consultant</option>
            <option value="Registrar">Registrar</option>
            <option value="SHO">SHO</option>

        </select>
    </div>


    <div class="form-group col-sm-6">
        <label for="presentconsultantid">Consultant Present/Supervising</label>
        <select name="presentconsultantid" id="presentconsultantid" class="form-control">
            <option value=""></option>
            <option value="Mr Bassett">Mr Bassett</option>
            <option value="Mr Bodnar">Mr Bodnar</option>
            <option value="Mr Elmusharaf">Mr Elmusharaf</option>
            <option value="Mr Sugrue">Mr Sugrue</option>
            <option value="Mr Vargalis">Mr Vargalis</option>
            <option value="Mr Zeeshan">Mr Zeeshan</option>
            <option value="Mr Butt">Mr Butt</option>
            <option value="Locum">Locum</option>
            <option value="No consultant present">Post-op</option>

        </select>
    </div>
</div>

<div class="row justify-content-end">
    <div class="form-group col-sm-6 input_visibility" id="showLocum">
        <label for="lap_locum_name">Locum Name</label>
        <input type="input" name="lap_locum_name" class="form-control" id="lap_locum_name">
    </div>
</div>