<div class="row">
    <div class="form-group col-sm-4">
        <label for="usedfrailtyid">Was a frailty score used?</label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="usedfrailtyid" id="usedfrailtyRadio1" value="Yes">
            <label class="form-check-label" for="usedfrailtyRadio1">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="usedfrailtyid" id="usedfrailtyRadio2" value="No">
            <label class="form-check-label" for="usedfrailtyRadio2">No</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="usedfrailtyid" id="usedfrailtyRadio3" value="ND">
            <label class="form-check-label" for="usedfrailtyRadio3">ND</label>
        </div>
    </div>

    <div class="form-group col-sm-4 input_visibility" id="displayFrailty">
        <label for="frailtyid">Frailty Score Used</label>
        <input type="input" name="frailtyid" class="form-control" id="frailtyid">
    </div>

    <div class="form-group col-sm-4 input_visibility" id="displayFrailtyScore">
        <label for="frailtyscoreid">Score</label>
        <input type="number" name="frailtyscoreid" class="form-control" id="frailtyscoreid">
    </div>

</div>

<div class="row">
    <div class="form-group col-sm-4">
        <label for="usedpredictionid">Was there a risk prediction score used for morbidity
            preoperatively?</label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="usedpredictionid" id="usedpredictionRadio1" value="Yes">
            <label class="form-check-label" for="usedpredictionRadio1">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="usedpredictionid" id="usedpredictionRadio2" value="No">
            <label class="form-check-label" for="usedpredictionRadio2">No</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="usedpredictionid" id="usedpredictionRadio3" value="ND">
            <label class="form-check-label" for="usedpredictionRadio3">ND</label>
        </div>
    </div>

    <div class="form-group col-sm-4 input_visibility" id='displayPrediction'>
        <label for="predictionid">Risk Prediction Score Used</label>
        <select name="predictionid" id="predictionid" class="form-control">
            <option value=""></option>
            <option value="Risk prediction tool">Risk prediction tool</option>
            <option value="Clinical Judgement">Clinical Judgement</option>
            <option value="Surgical APGAR">Surgical APGAR</option>
            <option value="Physiological Criteria">Physiological Criteria</option>
            <option value="Other e.g. hospital policy">Other e.g. hospital policy</option>
        </select>
    </div>

    <div class="form-group col-sm-4 input_visibility" id="displayPredictionScore">
        <label for="predictionscoreid">Score</label>
        <input type="number" name="predictionscoreid" class="form-control" id="predictionscoreid">
    </div>

</div>