<div class="row">
    <div class="form-group col-sm-6">
        <label for="postopcritcalcarestaylen">Total length of post-operative critical care stay</label>
        <input type="input" name="postopcritcalcarestaylen" class="form-control" id="postopcritcalcarestaylen">
    </div>
</div>

<div class="row">
    <div class="form-group col-sm-6">
        <label for="postopassesbyspecid">Was the patient assessed by a specialist from the elderly
            medicine
            in the post-operative period</label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="postopassesbyspecid" id="postopassesbyspecidRadio1"
                value="Yes">
            <label class="form-check-label" for="postopassesbyspecidRadio1">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="postopassesbyspecid" id="postopassesbyspecidRadio2"
                value="No">
            <label class="form-check-label" for="postopassesbyspecidRadio2">No</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="postopassesbyspecid" id="postopassesbyspecidRadio3"
                value="ND">
            <label class="form-check-label" for="postopassesbyspecidRadio3">ND</label>
        </div>

    </div>
</div>


<div class="row">

    <div class="form-group col">
        <label for="unplannedorplannedreturnid">Did the patient have an unplanned or planned return to
            theatre following emergency laparotomy</label>
        <select name="unplannedorplannedreturnid" id="unplannedorplannedreturnid" class="form-control">
            <option value=""></option>
            <option value="Yes; unplanned return">Yes; unplanned return</option>
            <option value="Yes; planned return">Yes; planned return</option>
            <option value="Yes; unplanned AND planned">Yes; unplanned AND planned</option>
            <option value="No">No</option>

        </select>
    </div>
</div>

<div class="row">

    <div class="form-group col-sm-6">
        <label for="indunplannedreturnid">What was the main indication for the unplanned return to
            theatre</label>
        <select name="indunplannedreturnid" id="indunplannedreturnid" class="form-control">
            <option value=""></option>
            <option value="Anastomotic leak">Anastomotic leak</option>
            <option value="Abscess">Abscess</option>
            <option value="Bleeding or Haematoma">Bleeding or Haematoma</option>
            <option value="Decompression of abdominal compartment syndrome">Decompression of abdominal
                compartment syndrome</option>
            <option value="Bowel obstruction">Bowel obstruction</option>
            <option value="Abdominal wall dehiscence">Abdominal wall dehiscence</option>
            <option value="Accidental damage to bowel or other organ">Accidental damage to bowel or
                other
                organ</option>
            <option value="Stoma viability or retraction">Stoma viability or retraction</option>
            <option value="Ischemia/non-viable bowel">Ischemia/non-viable bowel</option>
            <option value="Sepsis/inadequate source control">Sepsis/inadequate source control</option>
            <option value="Deteriorating patient">Deteriorating patient</option>
            <option value="Missed pathology at first laparotomy">Missed pathology at first laparotomy
            </option>
            <option value="Other">Other</option>
        </select>
    </div>
</div>

<div class="row">

    <div class="form-group col-sm-6">
        <label for="indplannedreturnid">What was the main indication for the planned return to
            theatre</label>
        <select name="indplannedreturnid" id="indplannedreturnid" class="form-control">
            <option value=""></option>
            <option value="Removal of packs / ensure haemostasis / washout">Removal of packs / ensure
                haemostasis / washout</option>
            <option value="Closure of laparostomy">Closure of laparostomy</option>
            <option value="Removal of bogota bag / formation of formal laparostomy with mesh / vac dressing insertion">
                Removal of bogota bag / formation of formal laparostomy with mesh / vac dressing
                insertion
            </option>
            <option
                value="Definitive procedure following “damage control surgery” +/- stoma formation, +/- restoration of intestinal continuity">
                Definitive procedure following “damage control surgery” +/- stoma formation, +/-
                restoration
                of intestinal continuity</option>
            <option value="Assess viability of GI tract, +/- stoma formation, +/- restoration of intestinal continuity">
                Assess viability of GI tract, +/- stoma formation, +/- restoration of intestinal
                continuity
            </option>
            <option value="Other">Other</option>
        </select>
    </div>
</div>

<div class="row">
    <div class="form-group col-sm-6">
        <label for="isunplannedmove">Did the patient have an unplanned move from the ward to a higher
            level
            of care within 7 days of surgery</label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="isunplannedmove" id="isunplannedmoveRadio1" value="Yes">
            <label class="form-check-label" for="isunplannedmoveRadio1">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="isunplannedmove" id="isunplannedmoveRadio2" value="No">
            <label class="form-check-label" for="isunplannedmoveRadio2">No</label>
        </div>

    </div>
</div>