<div class="row">
    <div class="form-group col-sm-6">
        <label for="wcc">White Cell Count (WCC) (10<sup>9</sup>/l)</label>
        <input type="number" name="wcc" step=0.01 class="form-control" id="wcc">
    </div>
    <div class="form-group col-sm-6">
        <label for="hb">Haemoglobin (Hb) (g/dl)</label>
        <input type="number" name="hb" step=0.01 class="form-control" id="hb">
    </div>
</div>

<div class="row">
    <div class="form-group col-sm-6">
        <label for="crp">C-Reactive Protein (CRP) (mg/l)</label>
        <input type="number" name="crp" step=0.01 class="form-control" id="crp">
    </div>
    <div class="form-group col-sm-6">
        <label for="amylase">Amylase (u/l)</label>
        <input type="number" name="amylase" step=0.01 class="form-control" id="amylase">
    </div>
</div>

<div class="row">
    <div class="form-group col-sm-6">
        <label for="ggt">Gamma-Glutamyl Transferase (GGT) (u/l)</label>
        <input type="number" name="ggt" step=0.01 class="form-control" id="ggt">
    </div>
    <div class="form-group col-sm-6">
        <label for="creat">Serum Creatinine (Creat) (mg/dl)</label>
        <input type="number" name="creat" step=0.01 class="form-control" id="creat">
    </div>
</div>

<div class="row">
    <div class="form-group col-sm-6">
        <label for="inr">International Normalized Ratio (INR)</label>
        <input type="number" name="inr" step=0.01 class="form-control" id="inr">
    </div>
    <div class="form-group col-sm-6">
        <label for="baseexcess">Base Excess (mmol/l)</label>
        <input type="number" name="baseexcess" step=0.01 class="form-control" id="baseexcess">
    </div>
</div>

<div class="row">
    <div class="form-group col-sm-6">
        <label for="basedeficit">Base Deficit (mmol/l)</label>
        <input type="number" name="basedeficit" step=0.01 class="form-control" id="basedeficit">
    </div>
    <div class="form-group col-sm-6">
        <label for="lactate">Lactate (mmol/l)</label>
        <input type="number" name="lactate" step=0.01 class="form-control" id="lactate">
    </div>
</div>


<div class="row">
    <div class="form-group col-sm-6 input_visibility rif">
        <label for="neutrophilcount">Absolute Neutrophil count (10<sup>9</sup>/l)</label>
        <input type="number" name="neutrophilcount" class="form-control" step=0.01 id="neutrophilcount">
    </div>
</div>



<div class="row">
    <div class="form-group col-sm-6 input_visibility ruq">
        <label for="alt">ALT</label>
        <input type="number" step=0.01 name="alt" class="form-control" id="alt">
    </div>

    <div class="form-group col-sm-6 input_visibility ruq">
        <label for="ast">AST</label>
        <input type="number" step=0.01 name="ast" class="form-control" id="ast">
    </div>
</div>
<div class="row">
    <div class="form-group col-sm-6 input_visibility ruq">
        <label for="alkalinephosphatase">Alkaline Phosphatase</label>
        <input type="number" step=0.01 name="alkalinephosphatase" class="form-control" id="alkalinephosphatase">
    </div>

    <div class="form-group col-sm-6 input_visibility ruq">
        <label for="totalbilirubin">Total Bilirubin</label>
        <input type="number" step=0.01 name="totalbilirubin" class="form-control" id="totalbilirubin">
    </div>
</div>