<div class="row">
    <div class="form-group col-sm-6 input_visibility rif">
        <label for="rifpainid">RIF Pain</label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="rifpainid" id="rifPainRadio1" value="Yes">
            <label class="form-check-label" for="rifPainRadio1">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="rifpainid" id="rifPainRadio2" value="No">
            <label class="form-check-label" for="rifPainRadio2">No</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="rifpainid" id="rifPainRadio3" value="ND">
            <label class="form-check-label" for="rifPainRadio3">ND</label>
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group col-sm-6 input_visibility rif">
        <label for="migrationofpaintorifid">Migration of Pain to RIF</label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="migrationofpaintorifid" id="migrationRifRadio1"
                value="Yes">
            <label class="form-check-label" for="migrationRifRadio1">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="migrationofpaintorifid" id="migrationRifRadio2"
                value="No">
            <label class="form-check-label" for="migrationRifRadio2">No</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="migrationofpaintorifid" id="migrationRifRadio3"
                value="ND">
            <label class="form-check-label" for="migrationRifRadio3">ND</label>
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group col-sm-6 input_visibility rif">
        <label for="tenderid">Tender</label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="tenderid" id="tenderRadio1" value="Yes">
            <label class="form-check-label" for="tenderRadio1">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="tenderid" id="tenderRadio2" value="No">
            <label class="form-check-label" for="tenderRadio2">No</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="tenderid" id="tenderRadio3" value="ND">
            <label class="form-check-label" for="tenderRadio3">ND</label>
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group col-sm-6 input_visibility rif">
        <label for="guardingid">Guarding</label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="guardingid" id="guardingRadio1" value="Yes">
            <label class="form-check-label" for="guardingRadio1">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="guardingid" id="guardingRadio2" value="No">
            <label class="form-check-label" for="guardingRadio2">No</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="guardingid" id="guardingRadio3" value="ND">
            <label class="form-check-label" for="guardingRadio3">ND</label>
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group col-sm-6 input_visibility rif">
        <label for="reboundtendernessid">Rebound Tenderness</label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="reboundtendernessid" id="reboundtendernessRadio1"
                value="Yes">
            <label class="form-check-label" for="reboundtendernessRadio1">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="reboundtendernessid" id="reboundtendernessRadio2"
                value="No">
            <label class="form-check-label" for="reboundtendernessRadio2">No</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="reboundtendernessid" id="reboundtendernessRadio3"
                value="ND">
            <label class="form-check-label" for="reboundtendernessRadio3">ND</label>
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group col-sm-6 input_visibility rif">
        <label for="rigidityid">Rigidity</label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="rigidityid" id="rigidityRadio1" value="Yes">
            <label class="form-check-label" for="rigidityRadio1">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="rigidityid" id="rigidityRadio2" value="No">
            <label class="form-check-label" for="rigidityRadio2">No</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="rigidityid" id="rigidityRadio3" value="ND">
            <label class="form-check-label" for="rigidityRadio3">ND</label>
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group col-sm-6 input_visibility rif">
        <label for="rovsingssignid">Rovsing's Sign</label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="rovsingssignid" id="rovsingssignRadio1" value="Yes">
            <label class="form-check-label" for="rovsingssignRadio1">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="rovsingssignid" id="rovsingssignRadio2" value="No">
            <label class="form-check-label" for="rovsingssignRadio2">No</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="rovsingssignid" id="rovsingssignRadio3" value="ND">
            <label class="form-check-label" for="rovsingssignRadio3">ND</label>
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group col-sm-6 input_visibility rif">
        <label for="riskscoreid">Risk score used</label>
        <select name="riskscoreid" id="riskscoreid" class="form-control">
            <option value=""></option>
            <option value="Adult Appendicitis Score (AAS)">Adult Appendicitis Score (AAS)</option>
            <option value="Adult Inflammatory Score (AIR)">Adult Inflammatory Score (AIR)</option>
            <option value="Alvarado Score">Alvarado Score</option>
            <option value="No Score">No score used</option>
            <option value="Other">Other</option>

        </select>
    </div>

    <div class="form-group col-sm-6 input_visibility rif">
        <label for="riskscore">Calculated Risk Score</label>
        <input type="number" name="riskscore" class="form-control" id="riskscore">
    </div>

</div>



<div class="row">
    <div class="form-group col-sm-6 input_visibility ruq">
        <label for="rmurphyssignpositiveid">Murphy’s Sign Positive</label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="rmurphyssignpositiveid" id="murphyRadio1" value="Yes">
            <label class="form-check-label" for="murphyRadio1">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="rmurphyssignpositiveid" id="murphyRadio2" value="No">
            <label class="form-check-label" for="murphyRadio2">No</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="rmurphyssignpositiveid" id="murphyRadio3" value="ND">
            <label class="form-check-label" for="murphyRadio3">ND</label>
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group col-sm-6 input_visibility ruq">
        <label for="ruq_jaundiceid">Jaundice</label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="ruq_jaundiceid" id="ruq_jaundiceRadio1" value="Yes">
            <label class="form-check-label" for="ruq_jaundiceRadio1">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="ruq_jaundiceid" id="ruq_jaundiceRadio2" value="No">
            <label class="form-check-label" for="ruq_jaundiceRadio2">No</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="ruq_jaundiceid" id="ruq_jaundiceRadio3" value="ND">
            <label class="form-check-label" for="ruq_jaundiceRadio3">ND</label>
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group col-sm-6 input_visibility ruq">
        <label for="ruq_rigorsid">Rigors</label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="ruq_rigorsid" id="ruq_rigorsRadio1" value="Yes">
            <label class="form-check-label" for="ruq_rigorsRadio1">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="ruq_rigorsid" id="ruq_rigorsRadio2" value="No">
            <label class="form-check-label" for="ruq_rigorsRadio2">No</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="ruq_rigorsid" id="ruq_rigorsRadio3" value="ND">
            <label class="form-check-label" for="ruq_rigorsRadio3">ND</label>
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group col-sm-6 input_visibility ruq">
        <label for="lowerabdominalsignsid">Lower abdominal signs (LIF and/or Suprapubic region)</label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="lowerabdominalsignsid" id="LIFRadio1" value="Yes">
            <label class="form-check-label" for="LIFRadio1">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="lowerabdominalsignsid" id="LIFRadio2" value="No">
            <label class="form-check-label" for="LIFRadio2">No</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="lowerabdominalsignsid" id="LIFRadio3" value="ND">
            <label class="form-check-label" for="LIFRadio3">ND</label>
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group col-sm-6 input_visibility ruq">
        <label for="confusionid">Confusion (Recent Onset)</label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="confusionid" id="confusionRadio1" value="Yes">
            <label class="form-check-label" for="confusionRadio1">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="confusionid" id="confusionRadio2" value="No">
            <label class="form-check-label" for="confusionRadio2">No</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="confusionid" id="confusionRadio3" value="ND">
            <label class="form-check-label" for="confusionRadio3">ND</label>
        </div>
    </div>
</div>


<div class="row">
    <div class="form-group col-sm-6 input_visibility ruq">
        <label for="ercpid">ERCP</label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="ercpid" id="ercpRadio1" value="Yes">
            <label class="form-check-label" for="ercpRadio1">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="ercpid" id="ercpRadio2" value="No">
            <label class="form-check-label" for="ercpRadio2">No</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="ercpid" id="ercpRadio3" value="ND">
            <label class="form-check-label" for="ercpRadio3">ND</label>
        </div>
    </div>
</div>

<div class="form-group input_visibility" id="ercp_finding_area">
    <label for="ercpfindings">ERCP Findings</label>
    <!-- <input type="text" name="findings" class="form-control" id="findings"> -->
    <textarea name="ercpfindings" id="ercpfindings" class="form-control" cols="30" rows="4"></textarea>
</div>