<div class="form-group">
    <label for="comorbiditiesanticoagsid">Anti-Coags</label>
    <br>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="comorbiditiesanticoagsid" id="anticoagsRadio1" value="Yes">
        <label class="form-check-label" for="anticoagsRadio1">Yes</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="comorbiditiesanticoagsid" id="anticoagsRadio2" value="No">
        <label class="form-check-label" for="anticoagsRadio2">No</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="comorbiditiesanticoagsid" id="anticoagsRadio3" value="ND">
        <label class="form-check-label" for="anticoagsRadio3">ND</label>
    </div>
</div>