<div class="row">
    <!-- <div class="form-group col-sm-4">
        <label for="userid">User I.D.</label>
        <input type="number" name="userid" class="form-control">
    </div> -->

    <!-- <div class="form-group col-sm-4">
        <label for="databasenumber">Database Number</label>
        <input type="number" name="databasenumber" class="form-control">
    </div> -->

    <div class="form-group col-sm-4">
        <label for="uniqueid">Unique Id (from RedCap)</label>
        <input type="number" name="uniqueid" class="form-control">
    </div>
</div>

<div class="row">
    <div class="form-group col-sm-6" id="admissiondateDiv">
        <label for="admissiondate">Admission Date</label>
        <input type="date" name="admissiondate" class="form-control" id="admissiondate">
    </div>
</div>

<div class="row">

    <div class="col-sm-4">
        <div class="form-group">
            <label for="age">Age</label>
            <input type="number" name="age" class="form-control">
        </div>
    </div>

    <div class="col-sm-6">
        <div class="form-group">
            <label for="genderid">Gender</label>
            <br>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="genderid" id="inlineRadio1" value="male">
                <label class="form-check-label" for="inlineRadio1">Male</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="genderid" id="inlineRadio2" value="female">
                <label class="form-check-label" for="inlineRadio2">Female</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="genderid" id="inlineRadio3" value="Transgender">
                <label class="form-check-label" for="inlineRadio3">Transgender</label>
            </div>
            <!-- <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="genderid" id="inlineRadio4" value="ND">
                            <label class="form-check-label" for="inlineRadio4">ND</label>
                        </div> -->
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group col-sm-6">
        <label for="consultantdemographicsid">Consultant</label>
        <select name="consultantdemographicsid" id="consultantdemographicsid" class="form-control">
            <option value=""></option>
            <option value="one">01</option>
            <option value="two">02</option>
            <option value="three">03</option>
            <option value="four">04</option>
            <option value="five">05</option>
            <option value="six">06</option>
            <option value="seven">07</option>
            <option value="eight">08</option>
            <option value="nine">09</option>
            <option value="ten">10</option>
        </select>
    </div>

    <div class="form-group col-sm-6">
        <label for="demographicslocum">Locum</label>
        <input type="text" name="demographicslocum" class="form-control">
    </div>

</div>


<div class="row">
    <div class="form-group col-sm-6">
        <label for="residencepreadmissionid">Residence pre admission</label>
        <select name="residencepreadmissionid" id="residencepreadmissionid" class="form-control">
            <option value=""></option>
            <option value="Homeless">Homeless</option>
            <option value="Nursing Home">Nursing Home</option>
            <option value="Own home">Own home</option>
            <option value="Residential Care">Residential Care</option>
            <option value="Sheltered Accomodation">Sheltered Accomodation</option>
            <option value="Unknown">Unknown</option>
            <option value="ND">ND</option>
        </select>
    </div>
</div>

<div class="form-group" id="checkboxes">
    <label for="presententingcompaintid">Presenting Complaint</label>
    <br>

    <div class="row">


        <div class="col-md-4">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Abdominal Pain R10.4 (unspecified)"
                    id="presentingCheck1" name=presententingcompaintid>
                <label class="form-check-label" for="presentingCheck1">Abdominal Pain R10.4
                    (unspecified)</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Abdominal Pain 1. Epigastric"
                    id="presentingCheck2" name=presententingcompaintid>
                <label class="form-check-label" for="presentingCheck2">Abdominal Pain 1.
                    Epigastric</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Abdominal Pain 2. Left Upper Quadrant"
                    id="presentingCheck3" name=presententingcompaintid>
                <label class="form-check-label" for="presentingCheck3">Abdominal Pain 2. Left Upper
                    Quadrant</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Abdominal Pain 3. Left Para-umbilical"
                    id="presentingCheck4" name=presententingcompaintid>
                <label class="form-check-label" for="presentingCheck4">Abdominal Pain 3. Left
                    Para-umbilical</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Abdominal Pain 4. Left Illiac Fossa"
                    id="presentingCheck5" name=presententingcompaintid>
                <label class="form-check-label" for="presentingCheck5">Abdominal Pain 4. Left Illiac
                    Fossa</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Abdominal Pain 5. Suprapubic"
                    id="presentingCheck6" name=presententingcompaintid>
                <label class="form-check-label" for="presentingCheck6">Abdominal Pain 5.
                    Suprapubic</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Abdominal Pain 6. Right Iliac Fossa"
                    id="presentingCheck7" name=presententingcompaintid>
                <label class="form-check-label" for="presentingCheck7">Abdominal Pain 6. Right Iliac
                    Fossa</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Abdominal Pain 7. Right para-umbilical"
                    id="presentingCheck8" name=presententingcompaintid>
                <label class="form-check-label" for="presentingCheck8">Abdominal Pain 7. Right
                    para-umbilical</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Abdominal Pain 8. Right Upper Quadrant"
                    id="presentingCheck9" name=presententingcompaintid>
                <label class="form-check-label" for="presentingCheck9">Abdominal Pain 8. Right Upper
                    Quadrant</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Abdominal Pain 9. Para-umbilical"
                    id="presentingCheck10" name=presententingcompaintid>
                <label class="form-check-label" for="presentingCheck10">Abdominal Pain 9.
                    Para-umbilical</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Abdominal Pain 10. Upper Abdominal Pain"
                    id="presentingCheck11" name=presententingcompaintid>
                <label class="form-check-label" for="presentingCheck11">Abdominal Pain 10. Upper
                    Abdominal
                    Pain</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Abdominal Pain 11. Central"
                    id="presentingCheck12" name=presententingcompaintid>
                <label class="form-check-label" for="presentingCheck12">Abdominal Pain 11.
                    Central</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Abdominal Pain 12. Lower" id="presentingCheck13"
                    name=presententingcompaintid>
                <label class="form-check-label" for="presentingCheck13">Abdominal Pain 12. Lower</label>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Abdominal Pain 13. Upper Half"
                    id="presentingCheckR2_1" name=presententingcompaintid>
                <label class="form-check-label" for="presentingCheckR2_1">Abdominal Pain 13. Upper
                    Half</label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Abdominal Pain 14. Lower Half"
                    id="presentingCheckR2_2" name=presententingcompaintid>
                <label class="form-check-label" for="presentingCheckR2_2">Abdominal Pain 14. Lower
                    Half</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Abdominal Pain 15. Entire Abdomen"
                    id="presentingCheckR2_3" name=presententingcompaintid>
                <label class="form-check-label" for="presentingCheckR2_3">Abdominal Pain 15. Entire
                    Abdomen</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Abdominal Pain 16. Right Flank/Renal"
                    id="presentingCheckR2_4" name=presententingcompaintid>
                <label class="form-check-label" for="presentingCheckR2_4">Abdominal Pain 16. Right
                    Flank/Renal</label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Abdominal Pain 17. Left Flank/Renal"
                    id="presentingCheckR2_5" name=presententingcompaintid>
                <label class="form-check-label" for="presentingCheckR2_5">Abdominal Pain 17. Left
                    Flank/Renal</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Abdominal Distension R14"
                    id="presentingCheckR2_6" name=presententingcompaintid>
                <label class="form-check-label" for="presentingCheckR2_6">Abdominal Distension
                    R14</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Abscess L02.9" id="presentingCheckR2_7"
                    name=presententingcompaintid>
                <label class="form-check-label" for="presentingCheckR2_7">Abscess L02.9</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Breast abscess N61" id="presentingCheckR2_8"
                    name=presententingcompaintid>
                <label class="form-check-label" for="presentingCheckR2_8">Breast abscess N61</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Perianal abscess K61.0" id="presentingCheckR2_9"
                    name=presententingcompaintid>
                <label class="form-check-label" for="presentingCheckR2_9">Perianal abscess K61.0</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Skin abscess L02.9" id="presentingCheckR2_10"
                    name=presententingcompaintid>
                <label class="form-check-label" for="presentingCheckR2_10">Skin abscess L02.9</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Blood PR K92.2" id="presentingCheckR2_11"
                    name=presententingcompaintid>
                <label class="form-check-label" for="presentingCheckR2_11">Blood PR K92.2</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox"
                    value="Cellulitis L03.9 cellulitis (diffuse) (with Lymphangitis)" id="presentingCheckR2_12"
                    name=presententingcompaintid>
                <label class="form-check-label" for="presentingCheckR2_12">Cellulitis L03.9 cellulitis
                    (diffuse)
                    (with Lymphangitis)</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Constipation K59.0" id="presentingCheckR2_13"
                    name=presententingcompaintid>
                <label class="form-check-label" for="presentingCheckR2_13">Constipation K59.0</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Diarrhoea R19.7 (unspecified)"
                    id="presentingCheckR3_1" name=presententingcompaintid>
                <label class="form-check-label" for="presentingCheckR3_1">Diarrhoea R19.7
                    (unspecified)</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Dysphagia R13" id="presentingCheckR3_2"
                    name=presententingcompaintid>
                <label class="form-check-label" for="presentingCheckR3_2">Dysphagia R13</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Fever R50.9" id="presentingCheckR3_3"
                    name=presententingcompaintid>
                <label class="form-check-label" for="presentingCheckR3_3">Fever R50.9</label>
            </div>
        </div>

        <div class="col-md-4" id="checkbox_option">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Haematuria R31" id="presentingCheckR3_4"
                    name=presententingcompaintid>
                <label class="form-check-label" for="presentingCheckR3_4">Haematuria R31</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Hematemesis K92.0" id="presentingCheckR3_5"
                    name=presententingcompaintid>
                <label class="form-check-label" for="presentingCheckR3_5">Hematemesis K92.0</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Hernia K46.9" id="presentingCheckR3_6"
                    name=presententingcompaintid>
                <label class="form-check-label" for="presentingCheckR3_6">Hernia K46.9</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Jaundice R17 (unspecified)"
                    id="presentingCheckR3_7" name=presententingcompaintid>
                <label class="form-check-label" for="presentingCheckR3_7">Jaundice R17
                    (unspecified)</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Left groin pain R10.3" id="presentingCheckR3_8"
                    name=presententingcompaintid>
                <label class="form-check-label" for="presentingCheckR3_8">Left groin pain R10.3</label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Nausea R11" id="presentingCheckR3_9"
                    name=presententingcompaintid>
                <label class="form-check-label" for="presentingCheckR3_9">Nausea R11</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Obstipation K59.0" id="presentingCheckR3_10"
                    name=presententingcompaintid>
                <label class="form-check-label" for="presentingCheckR3_10">Obstipation K59.0</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Right groin pain R10.3" id="presentingCheckR3_11"
                    name=presententingcompaintid>
                <label class="form-check-label" for="presentingCheckR3_11">Right groin pain
                    R10.3</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Rigors R68.8" id="presentingCheckR3_12"
                    name=presententingcompaintid>
                <label class="form-check-label" for="presentingCheckR3_12">Rigors R68.8</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Testicular pain N49.8" id="presentingCheckR3_13"
                    name=presententingcompaintid>
                <label class="form-check-label" for="presentingCheckR3_13">Testicular pain N49.8</label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Trauma T14.9" id="presentingCheckR4_1"
                    name=presententingcompaintid>
                <label class="form-check-label" for="presentingCheckR4_1">Trauma T14.9</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Urology" id="presentingCheckR4_2"
                    name=presententingcompaintid>
                <label class="form-check-label" for="presentingCheckR4_2">Urology</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Urology Haematuria R31" id="presentingCheckR4_3"
                    name=presententingcompaintid>
                <label class="form-check-label" for="presentingCheckR4_3">Urology Haematuria R31</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Urology other N23" id="presentingCheckR4_4"
                    name=presententingcompaintid>
                <label class="form-check-label" for="presentingCheckR4_4">Urology other N23</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Retention of urine R33" id="presentingCheckR4_5"
                    name=presententingcompaintid>
                <label class="form-check-label" for="presentingCheckR4_5">Retention of urine R33</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Urology Stones N20" id="presentingCheckR4_6"
                    name=presententingcompaintid>
                <label class="form-check-label" for="presentingCheckR4_6">Urology Stones N20</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Vascular" id="presentingCheckR4_7"
                    name=presententingcompaintid>
                <label class="form-check-label" for="presentingCheckR4_7">Vascular</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Vomiting R11" id="presentingCheckR4_8"
                    name=presententingcompaintid>
                <label class="form-check-label" for="presentingCheckR4_8">Vomiting R11</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Other" id="presentingCheckR4_9"
                    name=presententingcompaintid>
                <label class="form-check-label" for="presentingCheckR4_9">Other</label>
            </div>
        </div>
    </div>
</div>


<!-- 

<div class="row">
    <div class=col-md-8>
        <div class="form-group">
            <label for="presententingcompaintid">Presenting Complaint</label>
            <select name="presententingcompaintid" id="presententingcompaintid" class="form-control">
                <option value=""></option>
                <option value="Abdominal Pain R10.4 (unspecified)">Abdominal Pain R10.4 (unspecified)
                </option>
                <option value="Abdominal Pain 1. Epigastric">Abdominal Pain 1. Epigastric </option>
                <option value="Abdominal Pain 2. Left Upper Quadrant">Abdominal Pain 2. Left Upper Quadrant
                </option>
                <option value="Abdominal Pain 3. Left Para-umbilical">Abdominal Pain 3. Left Para-umbilical
                </option>
                <option value="Abdominal Pain 4. Left Illiac Fossa">Abdominal Pain 4. Left Illiac Fossa
                </option>
                <option value="Abdominal Pain 5. Suprapubic">Abdominal Pain 5. Suprapubic</option>
                <option value="Abdominal Pain 6. Right Iliac Fossa">Abdominal Pain 6. Right Iliac Fossa
                </option>
                <option value="Abdominal Pain 7. Right para-umbilical">Abdominal Pain 7. Right
                    para-umbilical
                </option>
                <option value="Abdominal Pain 8. Right Upper Quadrant">Abdominal Pain 8. Right Upper
                    Quadrant
                </option>
                <option value="Abdominal Pain 9. Para-umbilical">Abdominal Pain 9. Para-umbilical</option>
                <option value="Abdominal Pain 10. Upper Abdominal Pain">Abdominal Pain 10. Upper Abdominal
                    Pain
                </option>
                <option value="Abdominal Pain 11. Central">Abdominal Pain 11. Central</option>
                <option value="Abdominal Pain 12. Lower">Abdominal Pain 12. Lower</option>
                <option value="Abdominal Pain 13. Upper Half">Abdominal Pain 13. Upper Half</option>
                <option value="Abdominal Pain 14. Lower Half">Abdominal Pain 14. Lower Half</option>
                <option value="Abdominal Pain 15. Entire Abdomen">Abdominal Pain 15. Entire Abdomen</option>
                <option value="Abdominal Pain 16. Right Flank/Renal">Abdominal Pain 16. Right Flank/Renal
                </option>
                <option value="Abdominal Pain 17. Left Flank/Renal">Abdominal Pain 17. Left Flank/Renal
                </option>
                <option value="Abdominal Distension R14">Abdominal Distension R14</option>
                <option value="Abscess L02.9">Abscess L02.9</option>
                <option value="Breast abscess N61">Breast abscess N61</option>
                <option value="Perianal abscess K61.0">Perianal abscess K61.0</option>
                <option value="Skin abscess L02.9">Skin abscess L02.9</option>
                <option value="Blood PR K92.2">Blood PR K92.2</option>
                <option value="Cellulitis L03.9 cellulitis (diffuse) (with Lymphangitis)">Cellulitis L03.9
                    cellulitis (diffuse) (with Lymphangitis)</option>
                <option value="Constipation K59.0">Constipation K59.0</option>
                <option value="Diarrhoea R19.7 (unspecified)">Diarrhoea R19.7 (unspecified)</option>
                <option value="Dysphagia R13">Dysphagia R13</option>
                <option value="Fever R50.9">Fever R50.9</option>
                <option value="Haematuria R31">Haematuria R31</option>
                <option value="Hematemesis K92.0">Hematemesis K92.0</option>
                <option value="Hernia K46.9">Hernia K46.9</option>
                <option value="Jaundice R17 (unspecified)">Jaundice R17 (unspecified)</option>
                <option value="Left groin pain R10.3">Left groin pain R10.3</option>
                <option value="Nausea R11">Nausea R11</option>
                <option value="Obstipation K59.0">Obstipation K59.0</option>
                <option value="Right groin pain R10.3">Right groin pain R10.3</option>
                <option value="Rigors">Rigors</option>
                <option value="Testicular pain N49.8">Testicular pain N49.8</option>
                <option value="Trauma T14.9">Trauma T14.9</option>
                <option value="Urology">Urology</option>
                <option value="Urology Haematuria R31">Urology Haematuria R31</option>
                <option value="Urology other N23">Urology other N23</option>
                <option value="Retention of urine R33">Retention of urine R33</option>
                <option value="Urology Stones N20">Urology Stones N20</option>
                <option value="Vascular">Vascular</option>
                <option value="Vomiting R11">Vomiting R11</option>
                <option value="Other">Other</option>
            </select>
        </div>
    </div>
</div> -->

<div class="form-group input_visibility" id="other_complaint_area">
    <label for="otherpresententingcompaintid">Other Complaint</label>
    <!-- <input type="text" name="findings" class="form-control" id="findings"> -->
    <textarea name="otherpresententingcompaintid" id="otherpresententingcompaintid" class="form-control" cols="30"
        rows="4"></textarea>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="provisionaldiagnosisid">Provisional Diagnosis</label>
            <select name="provisionaldiagnosisid" id="provisionaldiagnosisid" class="form-control">
                <option value=""></option>
                <option value="Abscess Breast abscess N61">Abscess Breast abscess N61</option>
                <option value="Abscess Perianal abscess K61.0">Abscess Perianal abscess K61.0</option>
                <option value="Abscess Skin abscess L02.9">Abscess Skin abscess L02.9</option>
                <option value="Appendicitis K35">Appendicitis K35</option>
                <option value="Biliary Colic K80.5">Biliary Colic K80.5</option>
                <option value="Cellulitis L03">Cellulitis L03</option>
                <option value="Cholangitis K83.0">Cholangitis K83.0</option>
                <option value="Cholecystitis K81">Cholecystitis K81</option>
                <option value="Choledocholithiasis K80.5">Choledocholithiasis K80.5</option>
                <option value="Cholelithiasis K80">Cholelithiasis K80</option>
                <option value="Colitis K52">Colitis K52</option>
                <option value="Crohns K50">Crohns K50</option>
                <option value="Diverticulitis K57">Diverticulitis K57</option>
                <option value="Diverticulosis K57.2">Diverticulosis K57.2</option>
                <option value="Duodenal Ulcer K26">Duodenal Ulcer K26</option>
                <option value="Faecal impaction K56.4">Faecal impaction K56.4</option>
                <option value="Gallstone ileus K56.3">Gallstone ileus K56.3</option>
                <option value="Gastric Ulcer K25">Gastric Ulcer K25</option>
                <option value="Gastro-oesophageal laceration-haemorrhage syndrome K22.6">Gastro-oesophageal
                    laceration-haemorrhage syndrome K22.6</option>
                <option value="Gastrointestinal haemorrhage, unspecified K92.2">Gastrointestinal haemorrhage,
                    unspecified K92.2</option>
                <option value="GI Bleed K92.2">GI Bleed K92.2</option>
                <option value="Haematemesis K92.0">Haematemesis K92.0</option>
                <option value="Hernia - Diaphragm, Diaphragmatic K44.9">Hernia - Diaphragm,
                    Diaphragmatic
                    K44.9
                </option>
                <option value="Hernia - Diaphramatic K44">Hernia - Diaphramatic K44</option>
                <option value="Hernia - Epigastric K43.9">Hernia - Epigastric K43.9</option>
                <option value="Hernia - Femoral K41.9">Hernia - Femoral K41.9</option>
                <option value="Hernia - Incisional K43.2">Hernia - Incisional K43.2</option>
                <option value="Hernia - Inguinal K40">Hernia - Inguinal K40</option>
                <!-- <option value="Hernia - Obturator K45.8">Hernia - Obturator K45.8</option> -->
                <option value="Hernia - Other Abdominal hernia K45">Hernia - Other Abdominal hernia K45
                </option>
                <option value="Hernia - Parastomal K43.5">Hernia - Parastomal K43.5</option>
                <option value="Hernia - Paraumbilical K42.9">Hernia - Paraumbilical K42.9</option>
                <option value="Hernia - Spigelian K43.9">Hernia - Spigelian K43.9</option>
                <option value="Hernia - Supraumbilicus K43.9">Hernia - Supraumbilicus K43.9</option>
                <option value="Hernia - Umbilical K42.9">Hernia - Umbilical K42.9</option>
                <option value="Hernia - Unspecific Abdominal hernia K46">Hernia - Unspecific Abdominal
                    hernia
                    K46
                </option>
                <option value="Hernia - Ventral K43.9">Hernia - Ventral K43.9</option>
                <option value="Hernia - With gangrene K46.1">Hernia - With gangrene K46.1</option>
                <option value="Hernia - With obstruction K46.0">Hernia - With obstruction K46.0</option>
                <option value="Large bowel obstruction K56.6">Large bowel obstruction K56.6</option>
                <option value="Mallory-Weiss syndrome">Mallory-Weiss syndrome</option>
                <option value="Melena K92.1">Melena K92.1</option>
                <option value="Mesenteric ischaemia K55.0">Mesenteric ischaemia K55.0</option>
                <option value="Mesenteric Adenitis I88.0">Mesenteric Adenitis I88.0</option>
                <option value="Non-specific abdominal pain R10">Non-specific abdominal pain R10</option>
                <option value="Obstructive Jaundice K83.1">Obstructive Jaundice K83.1</option>
                <option value="Oesophageal varices I85">Oesophageal varices I85</option>
                <option value="Other and unspecified intestinal obstruction K56.6">Other and unspecified intestinal
                    obstruction K56.6</option>
                <!-- <option value="Other">Other</option> -->
                <!-- <option value="Other Abdominal hernia K45">Other Abdominal hernia K45</option> -->
                <option value="Pancreatitis K85">Pancreatitis K85</option>
                <option value="Pelvic pathology R10.2">Pelvic pathology R10.2</option>
                <option value="Peptic ulcer K27">Peptic ulcer K27</option>
                <option value="Peritonitis K65">Peritonitis K65</option>
                <option value="Peritoneal adhesions K66.0">Peritoneal adhesions K66.0</option>
                <option value="Septic shock R57.2">Septic shock R57.2</option>
                <option value="Small bowel obstruction">Small bowel obstruction</option>
                <option value="Small bowel obstruction Paralytic ileus K56.0">Small bowel obstruction
                    Paralytic ileus K56.0</option>
                <option value="Small bowel obstruction Adhesions K56.5">
                    Small bowel obstruction Adhesions K56.5
                </option>
                <option value="Small bowel obstruction illeus unspecified K56.6">Small bowel obstruction illeus
                    unspecified K56.6
                </option>
                <option value="Subacute bowel obstruction K56.6">Subacute bowel obstruction K56.6
                </option>
                <option value="Trauma T14.9">Trauma T14.9</option>
                <option value="Umbilical K42">Umbilical K42</option>
                <option value="Unspecific Abdominal hernia K46">Unspecific Abdominal hernia K46</option>
                <option value="Upper GI Bleed K92.0">Upper GI Bleed K92.0</option>
                <option value="Upper GI Bleed Melaena K92.1">Upper GI Bleed Melaena K92.1</option>
                <option value="Urology Haematuria R31">Urology Haematuria R31</option>
                <option value="Urology other N23">Urology other N23</option>
                <option value="Retention of urine R33">Retention of urine R33</option>
                <option value="Urology Stones N20">Urology Stones N20</option>
                <option value="Vascular I71">Vascular I71</option>
                <option value="Volvulus K56.2">Volvulus K56.2</option>
                <option value="Other">Other</option>
            </select>
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group col-sm-12 input_visibility" id=otherProvDiagDiv>
        <label for="otherprovisionaldiagnosis">Other Provisional Diagnosis</label>
        <input type="text" name="otherprovisionaldiagnosis" class="form-control" id="otherprovisionaldiagnosis">
    </div>
</div>

<div class="form-group">
    <label for="includeinstudyid">Include in study</label>
    <br>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="includeinstudyid" id="includeRadio1" value="Yes">
        <label class="form-check-label" for="includeRadio1">Yes</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="includeinstudyid" id="includeRadio2" value="No">
        <label class="form-check-label" for="includeRadio2">No</label>
    </div>
</div>

<div class="row">
    <div class="form-group col-sm-6">
        <label for="moduleid">Module</label>
        <select name="moduleid" id="moduleid" class="form-control">
            <option value=""></option>
            <option value="Laparotomy">Laparotomy</option>
            <option value="RIF_Appendicitis">RIF pain and Appendicitis</option>
            <option value="RUQ_Cholecystitis">RUQ pain and Cholecystitis</option>
            <option value="SBO">Small Bowel Obstruction</option>
            <option value="">None of the Above</option>
        </select>
    </div>
</div>