<div class="row">
    <div class="form-group col-sm-4">
        <label for="bp">BP (mmHg)</label>
        <input type="number" name="bp" step=0.01 class="form-control" id="bp">
    </div>
</div>

<div class="row">
    <div class="form-group col-sm-4">
        <label for="temperature">Temperature &#176;C</label>
        <input type="number" name="temperature" step=0.01 class="form-control" id="temperature">
    </div>
</div>

<div class="row">
    <div class="form-group col-sm-4">
        <label for="pulse">Pulse (/min)</label>
        <input type="number" name="pulse" step=0.01 class="form-control" id="pulse">
    </div>
</div>

<div class="row">
    <div class="form-group col-sm-4">
        <label for="Rr">RR (/min)</label>
        <input type="number" name="Rr" step=0.01 class="form-control" id="Rr">
    </div>
</div>

<div class="row">
    <div class="form-group col-sm-4">
        <label for="spo2">SpO2 (%)</label>
        <input type="number" name="spo2" step=0.01 class="form-control" id="spo2">
    </div>
</div>