<div class="row">


    <div class="form-group col-sm-6">
        <label for="FirstAdmitSpecialityId">Speciality First Admitted Under</label>
        <select name="FirstAdmitSpecialityId" id="FirstAdmitSpecialityId" class="form-control">
            <option value=""></option>
            <option value="Care of the elderly">Care of the elderly</option>
            <option value="Gastroenterology">Gastroenterology</option>
            <option value="General medicine">General medicine</option>
            <option value="General surgery">General surgery</option>
            <option value="Gynaecology/Obstetrics">Gynae</option>
            <option value="Other">Other</option>
            <option value="ND">ND</option>
        </select>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label for="referredbyid">Referred by</label>
            <br>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="referredbyid" id="refRadio1" value="Self">
                <label class="form-check-label" for="refRadio1">Self</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="referredbyid" id="refRadio2" value="GP">
                <label class="form-check-label" for="refRadio2">GP</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="referredbyid" id="refRadio3"
                    value="Another Consultant">
                <label class="form-check-label" for="refRadio3">Another Consultant</label>
            </div>
            <!-- <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="referredbyid" id="refRadio4" value="ND">
                            <label class="form-check-label" for="refRadio4">ND</label>
                        </div> -->
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group col-sm-7">
        <label for="transportid">Transport</label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="transportid" id="transportRadio1" value="Ambulance">
            <label class="form-check-label" for="transportRadio1">Ambulance</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="transportid" id="transportRadio2" value="Helicopter">
            <label class="form-check-label" for="transportRadio2">Helicopter</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="transportid" id="transportRadio3" value="Other">
            <label class="form-check-label" for="transportRadio3">Other</label>
        </div>
    </div>

    <div class="form-group col-sm-5" id="regTimediv">
        <label for="registeredtime">Registered Time</label>
        <input type="datetime-local" name="registeredtime" class="form-control" id="registeredtime">
    </div>


</div>




<div class="row">
    <div class="form-group col-sm-4" id="triagetimediv">
        <label for="triagetime">Triage Time</label>
        <input type="datetime-local" name="triagetime" class="form-control" id="triagetime">
    </div>

    <div class="form-group col-sm-4" id="timereffereddiv">
        <label for="timereferred">Time Referred</label>
        <input type="datetime-local" name="timereferred" class="form-control" id="timereferred">
    </div>

    <div class="form-group col-sm-4" id="timeseendiv">
        <label for="timeseen">Time Seen</label>
        <input type="datetime-local" name="timeseen" class="form-control" id="timeseen">
    </div>

</div>