<div class="row">

    <div class="col-sm-6">
        <div class="form-group">
            <label for="cxrrequested">CXR Requested</label>
            <select name="cxrrequested" id="cxrrequested" class="form-control">

                <option value=""></option>
                <option value="Yes">Yes</option>
                <option value="Not Requested">Not Requested</option>
                <option value="ND">ND</option>
            </select>
        </div>
        <div class="input_visibility" id="cxrFullDiv">
            <div class="form-group input_visibility" id="cxrDiv">
                <label for="cxrdatetime">CXR Date and Time</label>
                <input type="datetime-local" name="cxrdatetime" class="form-control" id="cxrdatetime">
            </div>
            <div class="form-check">
                <label class="form-check-label" for="cxrdatetimend">CXR Date Not Documented</label>
                <input type="checkbox" value="ND" id="cxrdatetimend" name=cxrdatetimend>
            </div>
        </div>
    </div>


    <div class="col-sm-6">
        <div class="form-group">
            <label for="pfarequested">PFA Requested</label>
            <select name="pfarequested" id="pfarequested" class="form-control">

                <option value=""></option>
                <option value="Yes">Yes</option>
                <option value="Not Requested">Not Requested</option>
                <option value="ND">ND</option>
            </select>
        </div>
        <div class="input_visibility" id="pfaFullDiv">
            <div class="form-group input_visibility" id="pfaDiv">
                <label for="pfadatetime">PFA Date and Time</label>
                <input type="datetime-local" name="pfadatetime" class="form-control" id="pfadatetime">
            </div>
            <div class="form-check">
                <label class="form-check-label" for="pfadatetimend">PFA Date Not Documented</label>
                <input type="checkbox" value="ND" id="pfadatetimend" name=pfadatetimend>
            </div>
        </div>
    </div>

</div>

<h4 class="text-center text-white bg-secondary py-1 mt-3">Ultrasound</h4>
<div class="row mt-1">
    <div class="form-group col-sm-8">
        <label for="usid">US</label>
        <select name="usid" id="usid" class="form-control">
            <option value=""></option>
            <option value="Abdomen">Abdomen</option>
            <option value="Abdomen And Pelvis">Abdomen and Pelvis</option>
            <option value="Breast">Breast</option>
            <option value="Pelvis">Pelvis
            </option>
            <option value="Renal (kidney both)">Renal (kidney both)</option>
            <!-- <option value="Trans Abdominal">Trans Abdominal</option>
                        <option value="Trans Vaginal">Trans Vaginal</option> -->
            <option value="Not Requested">Not Requested</option>
        </select>
    </div>

    <div class="form-group col-sm-6 input_visibility" id='transAV'>
        <label for="transabdominalvaginal">Trans Abdominal/Vaginal</label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="transabdominalvaginal" id="transAVRadio1"
                value="Trans Abdominal">
            <label class="form-check-label" for="transAVRadio1">Trans Abdominal</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="transabdominalvaginal" id="transAVRadio2"
                value="Trans Vaginal">
            <label class="form-check-label" for="transAVRadio2">Trans Vaginal</label>
        </div>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="transabdominalvaginal" id="transAVRadio3" value="ND">
            <label class="form-check-label" for="transAVRadio3">ND</label>
        </div>

    </div>

</div>



<div class="row input_visibility" id="usRow">
    <div class="col-sm-4">
        <div class="form-group input_visibility" id="usbookedDiv">
            <label for="usbookeddatetime">US Booked</label>
            <input type="datetime-local" name="usbookeddatetime" class="form-control" id="usbookeddatetime">
        </div>
        <p class="h5 input_visibility" id="usbookedh5">US Booked</p>
        <div class="form-check">
            <label class="form-check-label" for="usbookeddatetimend">Date Not Documented</label>
            <input type="checkbox" value="ND" id="usbookeddatetimend" name=usbookeddatetimend>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="form-group input_visibility" id="usperformedDiv">
            <label for="usperformeddatetime">US Performed</label>
            <input type="datetime-local" name="usperformeddatetime" class="form-control" id="usperformeddatetime">
        </div>
        <p class="h5 input_visibility" id="usperformedh5">US Performed</p>

        <div class="form-check">
            <label class="form-check-label" for="usperformeddatetimend">Date Not Documented</label>
            <input type="checkbox" value="ND" id="usperformeddatetimend" name=usperformeddatetimend>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="form-group input_visibility" id="usreportedDiv">
            <label for="usreporteddatetime">US Reported</label>
            <input type="datetime-local" name="usreporteddatetime" class="form-control" id="usreporteddatetime">
        </div>
        <p class="h5 input_visibility" id="usreportedh5">US Reported</p>
        <div class="form-check">
            <label class="form-check-label" for="usreporteddatetimend">Date Not Documented</label>
            <input type="checkbox" value="ND" id="usreporteddatetimend" name=usreporteddatetimend>
        </div>
    </div>


</div>

<h4 class="text-center text-white bg-secondary py-1 mt-3">CT</h4>

<div class="row mt-1">
    <div class="form-group col-sm-8">
        <label for="ctid">CT</label>
        <select name="ctid" id="ctid" class="form-control">
            <option value=""></option>
            <option value="Abdomen">Abdomen</option>
            <option value="Abdomen And Pelvis">Abdomen & Pelvis</option>
            <option value="CT Angio">CT Angio</option>
            <option value="KUB">KUB</option>
            <option value="TAP">TAP</option>
            <option value="Thorax">Thorax</option>
            <option value="Urogram">Urogram</option>
            <option value="Not Requested">Not Requested</option>
        </select>
    </div>
</div>


<div class="row input_visibility" id="ctRow">
    <div class="col-sm-4">
        <div class="form-group input_visibility" id="ctbookedDiv">
            <label for="ctbookeddatetime">CT Booked</label>
            <input type="datetime-local" name="ctbookeddatetime" class="form-control" id="ctbookeddatetime">
        </div>
        <p class="h5 input_visibility" id="ctbookedh5">CT Booked</p>
        <div class="form-check">
            <label class="form-check-label" for="ctbookeddatetimend">Date Not Documented</label>
            <input type="checkbox" value="ND" id="ctbookeddatetimend" name=ctbookeddatetimend>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="form-group input_visibility" id="ctperformedDiv">
            <label for="ctperformeddatetime">CT Performed</label>
            <input type="datetime-local" name="ctperformeddatetime" class="form-control" id="ctperformeddatetime">
        </div>
        <p class="h5 input_visibility" id="ctperformedh5">CT Performed</p>

        <div class="form-check">
            <label class="form-check-label" for="ctperformeddatetimend">Date Not Documented</label>
            <input type="checkbox" value="ND" id="ctperformeddatetimend" name=ctperformeddatetimend>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="form-group input_visibility" id="ctreportedDiv">
            <label for="ctreporteddatetime">CT Reported</label>
            <input type="datetime-local" name="ctreporteddatetime" class="form-control" id="ctreporteddatetime">
        </div>
        <p class="h5 input_visibility" id="ctreportedh5">CT Reported</p>

        <div class="form-check">
            <label class="form-check-label" for="ctreporteddatetimend">Date Not Documented</label>
            <input type="checkbox" value="ND" id="ctreporteddatetimend" name=ctreporteddatetimend>
        </div>
    </div>


</div>


<div class="row mt-5">
    <div class="col-sm-4">
        <div class="form-group" id="contrastAgentDiv">
            <label for="daterecwatersolubleagent">Date Received Water Soluble Contrast Agent</label>
            <input type="datetime-local" name="daterecwatersolubleagent" class="form-control"
                id="daterecwatersolubleagent">
        </div>
        <p class="h5 input_visibility" id="contrastAgenth5">Date Received Water Soluble Contrast Agent</p>
        <div class="form-check">
            <label class="form-check-label" for="daterecwatersolubleagentnd">Date Not Documented</label>
            <input type="checkbox" value="ND" id="daterecwatersolubleagentnd" name=daterecwatersolubleagentnd>
        </div>
    </div>

</div>

<h4 class="text-center text-white bg-secondary py-1 mt-3">MRI</h4>

<div class="row mt-1">
    <div class="form-group col-sm-8">
        <label for="mriid">MRI</label>
        <select name="mriid" id="mriid" class="form-control">
            <option value=""></option>
            <option value="Abdomen">Abdomen</option>
            <option value="MRCP">MRCP</option>
            <option value="Pelvis">Pelvis</option>
            <option value="Not Requested">Not Requested</option>
        </select>
    </div>
</div>

<div class="row input_visibility" id="mriRow">
    <div class="col-sm-4">
        <div class="form-group input_visibility" id="mribookedDiv">
            <label for="mribookeddatetime">MRI Booked</label>
            <input type="datetime-local" name="mribookeddatetime" class="form-control" id="mribookeddatetime">
        </div>
        <p class="h5 input_visibility" id="mribookedh5">MRI Booked</p>

        <div class="form-check">
            <label class="form-check-label" for="mribookeddatetimend">Date Not Documented</label>
            <input type="checkbox" value="ND" id="mribookeddatetimend" name=mribookeddatetimend>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="form-group input_visibility" id="mriperformedDiv">
            <label for="mriperformeddatetime">MRI Performed</label>
            <input type="datetime-local" name="mriperformeddatetime" class="form-control" id="mriperformeddatetime">
        </div>
        <p class="h5 input_visibility" id="mriperformedh5">MRI Performed</p>

        <div class="form-check">
            <label class="form-check-label" for="mriperformeddatetimend">Date Not Documented</label>
            <input type="checkbox" value="ND" id="mriperformeddatetimend" name=mriperformeddatetimend>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="form-group input_visibility" id="mrireportedDiv">
            <label for="mrireporteddatetime">MRI Reported</label>
            <input type="datetime-local" name="mrireporteddatetime" class="form-control" id="mrireporteddatetime">
        </div>
        <p class="h5 input_visibility" id="mrireportedh5">MRI Reported</p>

        <div class="form-check">
            <label class="form-check-label" for="mrireporteddatetimend">Date Not Documented</label>
            <input type="checkbox" value="ND" id="mrireporteddatetimend" name=mrireporteddatetimend>
        </div>
    </div>


</div>

<h4 class="text-center text-white bg-secondary py-1 mt-3">Other Imaging</h4>

<div class="row mt-1">
    <div class="form-group col-sm-4">
        <label for="otherimageid">Other Image</label>
        <select name="otherimageid" id="otherimageid" class="form-control">
            <option value="ND">ND</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
        </select>
    </div>

    <div class="form-group col-sm-8 input_visibility" id="otherImgText">
        <label for="otherimagingtype">Other Image</label>
        <input type="text" name="otherimagingtype" class="form-control" id="otherimagingtype">
    </div>



</div>

<div class="row input_visibility" id="otherimageRow">
    <div class="col-sm-4">
        <div class="form-group input_visibility" id="otherimagebookedDiv">
            <label for="otherimagebookeddatetime">Other Image Booked</label>
            <input type="datetime-local" name="otherimagebookeddatetime" class="form-control"
                id="otherimagebookeddatetime">
        </div>
        <p class="h5 input_visibility" id="otherimagebookedh5">Other Image Booked</p>
        <div class="form-check">
            <label class="form-check-label" for="otherimagebookeddatetimend">Date Not Documented</label>
            <input type="checkbox" value="ND" id="otherimagebookeddatetimend" name=otherimagebookeddatetimend>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="form-group input_visibility" id="otherimageperformedDiv">
            <label for="otherimageperformeddatetime">Other Image Performed</label>
            <input type="datetime-local" name="otherimageperformeddatetime" class="form-control"
                id="otherimageperformeddatetime">
        </div>
        <p class="h5 input_visibility" id="otherimageperformedh5">Other Image Performed</p>

        <div class="form-check">
            <label class="form-check-label" for="otherimageperformeddatetimend">Date Not Documented</label>
            <input type="checkbox" value="ND" id="otherimageperformeddatetimend" name=otherimageperformeddatetimend>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="form-group input_visibility" id="otherimagereportedDiv">
            <label for="otherimagereporteddatetime">Other Image Reported</label>
            <input type="datetime-local" name="otherimagereporteddatetime" class="form-control"
                id="otherimagereporteddatetime">
        </div>
        <p class="h5 input_visibility" id="otherimagereportedh5">Other Image Reported</p>

        <div class="form-check">
            <label class="form-check-label" for="otherimagereporteddatetimend">Date Not Documented</label>
            <input type="checkbox" value="ND" id="otherimagereporteddatetimend" name=otherimagereporteddatetimend>
        </div>
    </div>


</div>







<div class="form-group input_visibility rif" id="checkboxes">
    <label for="imagingfindingsid">Imaging Findings</label>
    <br>
    <div class="row">


        <div class="col-md-4">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="US Appendicitis Confirmed"
                    id="imgfindingsCheckR1_1" name=imagingfindingsid>
                <label class="form-check-label" for="imgfindingsCheckR1_1">US Appendicitis
                    Confirmed</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="US Equivocal" id="imgfindingsCheckR1_2"
                    name=imagingfindingsid>
                <label class="form-check-label" for="imgfindingsCheckR1_2">US Equivocal</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="US Appendicitis Ruled Out"
                    id="imgfindingsCheckR1_3" name=imagingfindingsid>
                <label class="form-check-label" for="imgfindingsCheckR1_3">US Appendicitis Ruled
                    Out</label>
            </div>

        </div>

        <div class="col-md-4">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="CT Appendicitis Confirmed"
                    id="imgfindingsCheckR2_1" name=imagingfindingsid>
                <label class="form-check-label" for="imgfindingsCheckR2_1">CT Appendicitis
                    Confirmed</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="CT Equivocal" id="imgfindingsCheckR2_2"
                    name=imagingfindingsid>
                <label class="form-check-label" for="imgfindingsCheckR2_2">CT Equivocal</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="CT Appendicitis Ruled Out"
                    id="imgfindingsCheckR2_3" name=imagingfindingsid>
                <label class="form-check-label" for="imgfindingsCheckR2_3">CT Appendicitis Ruled
                    Out</label>
            </div>
        </div>

        <div class="col-md-4" id="checkbox_option">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="MRI Appendicitis Confirmed"
                    id="imgfindingsCheckR3_1" name=imagingfindingsid>
                <label class="form-check-label" for="imgfindingsCheckR3_1">MRI Appendicitis
                    Confirmed</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="MRI Equivocal" id="imgfindingsCheckR3_2"
                    name=imagingfindingsid>
                <label class="form-check-label" for="imgfindingsCheckR3_2">MRI Equivocal</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="MRI Appendicitis Ruled Out"
                    id="imgfindingsCheckR3_3" name=imagingfindingsid>
                <label class="form-check-label" for="imgfindingsCheckR3_3">MRI Appendicitis Ruled
                    Out</label>
            </div>

        </div>
    </div>
</div>