<div class="row">
    <div class="form-group col-sm-6 input_visibility rif">
        <label for="interventionalradiology">Interventional Radiology</label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="interventionalradiology" id="radiologyRadio1"
                value="Yes">
            <label class="form-check-label" for="radiologyRadio1">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="interventionalradiology" id="radiologyRadio2" value="No">
            <label class="form-check-label" for="radiologyRadio2">No</label>
        </div>
    </div>
</div>

<!-- <div class="row">
    <div class="form-group col-sm-6 input_visibility rif">
        <label for="rifsurgeryid">Surgery</label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="rifsurgeryid" id="surgeryProcedRadio1" value="Yes">
            <label class="form-check-label" for="surgeryProcedRadio1">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="rifsurgeryid" id="surgeryProcedRadio2" value="No">
            <label class="form-check-label" for="surgeryProcedRadio2">No</label>
        </div>
    </div>
</div> -->


<div class="row">

    <div class="form-group col input_visibility lap">
        <label for="procedurefirstprocedureid">Is this the First Surgical Procedure Of This
            Admission?</label>
        <select name="procedurefirstprocedureid" id="procedurefirstprocedureid" class="form-control">
            <option value=""></option>
            <option value="Yes – First Surgical Procedure After Admission">Yes – first surgical
                procedure
                after admission</option>
            <option
                value="No – Surgery For Complication Of Previous Elective General Surgical Procedure Within The Same Admission">
                No – Surgery for complication of previous elective general surgical procedure within the
                same admission</option>
            <option
                value="No – Previous ‘Non-Abdominal/Non-General Surgical’ Procedure Within Same Admission (E.G. Previous Hip Replacement)">
                No – previous ‘non-abdominal/non-general surgical’ procedure within same admission (e.g.
                previous hip replacement)</option>
            <option value="ND">ND</option>

        </select>
    </div>
</div>

<div class="row">

    <div class="form-group col-sm-6 input_visibility lap">
        <label for="proceduresurgeryindid">What is the indication for surgery</label>
        <select name="proceduresurgeryindid" id="proceduresurgeryindid" class="form-control">
            <option value=""></option>
            <option value="Abdominal Abscess">Abdominal abscess</option>
            <option value="Abdominal Compartment Syndrome">Abdominal compartment syndrome</option>
            <option value="ABdominal Wound Dehiscence">Abdominal wound dehiscence</option>
            <option value="Acidosis">Acidosis</option>
            <option value="Anastomotic Leak">Anastomotic leak</option>
            <option value="Colitis">Colitis</option>
            <option value="Foreign Body">Foreign body</option>
            <option value="Haemorrhage">Haemorrhage</option>
            <option value="Iatrogenic Injury">Iatrogenic Injury</option>
            <option value="Incarcerated Hernia">Incarcerated Hernia</option>
            <option value="Internal Hernia">Internal Hernia</option>
            <option value="Intestinal Fistula">Intestinal fistula</option>
            <option value="Intussusception">Intussusception</option>
            <option value="Ischaemia">Ischaemia</option>
            <option value="Large Bowel Obstruction">Large bowel obstruction</option>
            <option value="Obstructing Incisional Hernia">Obstructing incisional hernia</option>
            <option value="Perforation">Perforation</option>
            <option value="Peritonitis">Peritonitis</option>
            <option value="Phlegmon">Phlegmon</option>
            <option value="Planned Relook">Planned relook</option>
            <option value="Pneumoperitoneum">Pneumoperitoneum</option>
            <option value="PsEudo-Obstruction">Pseudo-obstruction</option>
            <option value="Sepsis">Sepsis</option>
            <option value="Small Bowel Obstruction">Small bowel obstruction</option>
            <option value="Volvulus">Volvulus</option>
            <option value="Other">Other</option>
            <option value="ND">ND</option>

        </select>
    </div>

    <div class="form-group col-sm-6 input_visibility" id="otherindforsurgeryText">
        <label for="otherindforsurgery">Other Indictation for Surgery</label>
        <input type="text" name="otherindforsurgery" class="form-control" id="otherindforsurgery">
    </div>

</div>

<div class="row">

    <div class="form-group col-sm-6 input_visibility lap">
        <label for="proceduremainprocedureid">Main procedure</label>
        <select name="proceduremainprocedureid" id="proceduremainprocedureid" class="form-control">
            <option value=""></option>
            <option value="Abdominal Hernia Repair">Abdominal Hernia Repair</option>
            <option value="Abdominal Wall Closure Following Dehiscience">Abdominal Wall Closure Following Dehiscience
            </option>
            <option value="Abdominal Wall Reconstruction">Abdominal Wall Reconstruction</option>
            <option value="Adhesiolysis">Adhesiolysis</option>
            <option value="Colectomy: Left (Including Sigmoid Colectomy And Anterior Resection)">
                Colectomy:
                left (including sigmoid colectomy and anterior resection)</option>
            <option value="Colectomy: Right (Including Ileocecal Resection)">Colectomy: right (including
                ileocecal resection)</option>
            <option value="Colectomy: Subtotal Or Panproctocolectomy">Colectomy: subtotal or
                panproctocolectomy</option>
            <option value="Colorectal Resection - Other">Colorectal resection - other</option>
            <option value="Debridement">Debridement</option>
            <option value="Defunctioning Stoma Via Midline Laparotomy">Defunctioning stoma via midline
                laparotomy</option>
            <option value="Drainage Of Abscess/Collection">Drainage of abscess/collection</option>
            <option value="Enterotomy">Enterotomy</option>
            <option value="Evacuation Of Haematoma">Evacuation of haematoma</option>
            <option value="Exploratory/Relook Laparotomy Only">Exploratory/relook laparotomy only
            </option>
            <option value="Gastrectomy: Partial Or Total">Gastrectomy: partial or total</option>
            <option value="Gastric Surgery - Other">Gastric surgery - other</option>
            <option value="Hartmann’s Procedure">Hartmann’s procedure</option>
            <option value="Haemostasis">Haemostasis</option>
            <option value="Intestinal Bypass">Intestinal bypass</option>
            <option value="Laparostomy Formation">Laparostomy formation</option>
            <option value="Large Incisional Hernia Repair With Bowel Resection">Large incisional hernia
                repair with bowel resection</option>
            <option value="Large Incisional Hernia Repair With Division Of Adhesions">Large incisional
                hernia repair with division of adhesions</option>
            <option value="Peptic Ulcer – Suture Or Repair Of Perforation">Peptic ulcer – suture or
                repair
                of perforation</option>
            <option value="Peptic Ulcer – Over Sew Of Bleed">Peptic ulcer – oversew of bleed</option>
            <option value="Splenectomy">Splenectomy</option>
            <option value="Small Bowel Resection">Small bowel resection</option>
            <option value="Stricturoplasty">Stricturoplasty</option>

            <option value="Reduction Of Volvulus">Reduction of volvulus</option>
            <option value="Repair Of Intestinal Perforation">Repair of intestinal perforation</option>
            <option value="Repair Or Revision Of Anastomosis">Repair or revision of anastomosis</option>
            <option value="Repair Of Intestinal Fistula">Repair of intestinal fistula</option>
            <option value="Repair Or Revision Of Anastomosis">Repair or Revision of Anastomosis</option>
            <option value="Removal Of Foreign Body">Removal of foreign body</option>
            <option value="Resection Of Other Intra-Abdominal Tumour(S)">Resection of other
                intra-abdominal
                tumour(s)</option>
            <option value="Resection Of Meckel’s Diverticulum">Resection of Meckel’s diverticulum
            </option>
            <option value="Revision Of Stoma Via Midline Laparotomy">Revision of stoma via midline
                laparotomy </option>
            <option value="Washout Only">Washout only</option>
            <option value="Not Amenable To Surgery">Not amenable to surgery </option>
            <option value="Other">Other</option>
            <option value="ND">ND</option>


        </select>
    </div>

    <div class="form-group col-sm-6 input_visibility" id="othermainText">
        <label for="othermainprocedure">Other Main Procedure</label>
        <input type="text" name="othermainprocedure" class="form-control" id="othermainprocedure">
    </div>

</div>
<div class="row">

    <div class="form-group col-sm-6 input_visibility lap">
        <label for="proceduresecondprocedureid">Second procedure</label>
        <select name="proceduresecondprocedureid" id="proceduresecondprocedureid" class="form-control">
            <option value=""></option>
            <option value="Abdominal Hernia Repair">Abdominal Hernia Repair</option>
            <option value="Abdominal Wall Closure Following Dehiscience">Abdominal Wall Closure Following Dehiscience
            </option>
            <option value="Abdominal Wall Reconstruction">Abdominal Wall Reconstruction</option>
            <option value="Adhesiolysis">Adhesiolysis</option>
            <option value="Colectomy: Left (Including Sigmoid Colectomy And Anterior Resection)">
                Colectomy:
                left (including sigmoid colectomy and anterior resection)</option>
            <option value="Colectomy: Right (Including Ileocecal Resection)">Colectomy: right (including
                ileocecal resection)</option>
            <option value="Colectomy: Subtotal Or Panproctocolectomy">Colectomy: subtotal or
                panproctocolectomy</option>
            <option value="Colorectal Resection - Other">Colorectal resection - other</option>
            <option value="Debridement">Debridement</option>
            <option value="Defunctioning Stoma Via Midline Laparotomy">Defunctioning stoma via midline
                laparotomy</option>
            <option value="Drainage Of Abscess/Collection">Drainage of abscess/collection</option>
            <option value="Enterotomy">Enterotomy</option>
            <option value="Evacuation Of Haematoma">Evacuation of haematoma</option>
            <option value="Exploratory/Relook Laparotomy Only">Exploratory/relook laparotomy only
            </option>
            <option value="Gastrectomy: Partial Or Total">Gastrectomy: partial or total</option>
            <option value="Gastric Surgery - Other">Gastric surgery - other</option>
            <option value="Hartmann’s Procedure">Hartmann’s procedure</option>
            <option value="Haemostasis">Haemostasis</option>
            <option value="Intestinal Bypass">Intestinal bypass</option>
            <option value="Laparostomy Formation">Laparostomy formation</option>
            <option value="Large Incisional Hernia Repair With Bowel Resection">Large incisional hernia
                repair with bowel resection</option>
            <option value="Large Incisional Hernia Repair With Division Of Adhesions">Large incisional
                hernia repair with division of adhesions</option>
            <option value="Peptic Ulcer – Suture Or Repair Of Perforation">Peptic ulcer – suture or
                repair
                of perforation</option>
            <option value="Peptic Ulcer – Over Sew Of Bleed">Peptic ulcer – oversew of bleed</option>
            <option value="Splenectomy">Splenectomy</option>
            <option value="Small Bowel Resection">Small bowel resection</option>
            <option value="Stricturoplasty">Stricturoplasty</option>

            <option value="Reduction Of Volvulus">Reduction of volvulus</option>
            <option value="Repair Of Intestinal Perforation">Repair of intestinal perforation</option>
            <option value="Repair Or Revision Of Anastomosis">Repair or revision of anastomosis</option>
            <option value="Repair Of Intestinal Fistula">Repair of intestinal fistula</option>
            <option value="Repair Or Revision Of Anastomosis">Repair or Revision of Anastomosis</option>
            <option value="Removal Of Foreign Body">Removal of foreign body</option>
            <option value="Resection Of Other Intra-Abdominal Tumour(S)">Resection of other
                intra-abdominal
                tumour(s)</option>
            <option value="Resection Of Meckel’s Diverticulum">Resection of Meckel’s diverticulum
            </option>
            <option value="Revision Of Stoma Via Midline Laparotomy">Revision of stoma via midline
                laparotomy </option>
            <option value="Washout Only">Washout only</option>
            <option value="Not Amenable To Surgery">Not amenable to surgery </option>
            <option value="Other">Other</option>
            <option value="ND">ND</option>


        </select>
    </div>

    <div class="form-group col-sm-6 input_visibility" id="othersecondText">
        <label for="othersecondprocedure">Other Second Procedure</label>
        <input type="text" name="othersecondprocedure" class="form-control" id="othersecondprocedure">
    </div>

</div>
<div class="row">

    <div class="form-group col-sm-6 input_visibility lap">
        <label for="procedurethirdprocedureid">Third procedure</label>
        <select name="procedurethirdprocedureid" id="procedurethirdprocedureid" class="form-control">
            <option value=""></option>
            <option value="Abdominal Hernia Repair">Abdominal Hernia Repair</option>
            <option value="Abdominal Wall Closure Following Dehiscience">Abdominal Wall Closure Following Dehiscience
            </option>
            <option value="Abdominal Wall Reconstruction">Abdominal Wall Reconstruction</option>
            <option value="Adhesiolysis">Adhesiolysis</option>
            <option value="Colectomy: Left (Including Sigmoid Colectomy And Anterior Resection)">
                Colectomy:
                left (including sigmoid colectomy and anterior resection)</option>
            <option value="Colectomy: Right (Including Ileocecal Resection)">Colectomy: right (including
                ileocecal resection)</option>
            <option value="Colectomy: Subtotal Or Panproctocolectomy">Colectomy: subtotal or
                panproctocolectomy</option>
            <option value="Colorectal Resection - Other">Colorectal resection - other</option>
            <option value="Debridement">Debridement</option>
            <option value="Defunctioning Stoma Via Midline Laparotomy">Defunctioning stoma via midline
                laparotomy</option>
            <option value="Drainage Of Abscess/Collection">Drainage of abscess/collection</option>
            <option value="Enterotomy">Enterotomy</option>
            <option value="Evacuation Of Haematoma">Evacuation of haematoma</option>
            <option value="Exploratory/Relook Laparotomy Only">Exploratory/relook laparotomy only
            </option>
            <option value="Gastrectomy: Partial Or Total">Gastrectomy: partial or total</option>
            <option value="Gastric Surgery - Other">Gastric surgery - other</option>
            <option value="Hartmann’s Procedure">Hartmann’s procedure</option>
            <option value="Haemostasis">Haemostasis</option>
            <option value="Intestinal Bypass">Intestinal bypass</option>
            <option value="Laparostomy Formation">Laparostomy formation</option>
            <option value="Large Incisional Hernia Repair With Bowel Resection">Large incisional hernia
                repair with bowel resection</option>
            <option value="Large Incisional Hernia Repair With Division Of Adhesions">Large incisional
                hernia repair with division of adhesions</option>
            <option value="Peptic Ulcer – Suture Or Repair Of Perforation">Peptic ulcer – suture or
                repair
                of perforation</option>
            <option value="Peptic Ulcer – Over Sew Of Bleed">Peptic ulcer – oversew of bleed</option>
            <option value="Splenectomy">Splenectomy</option>
            <option value="Small Bowel Resection">Small bowel resection</option>
            <option value="Stricturoplasty">Stricturoplasty</option>

            <option value="Reduction Of Volvulus">Reduction of volvulus</option>
            <option value="Repair Of Intestinal Perforation">Repair of intestinal perforation</option>
            <option value="Repair Or Revision Of Anastomosis">Repair or revision of anastomosis</option>
            <option value="Repair Of Intestinal Fistula">Repair of intestinal fistula</option>
            <option value="Repair Or Revision Of Anastomosis">Repair or Revision of Anastomosis</option>
            <option value="Removal Of Foreign Body">Removal of foreign body</option>
            <option value="Resection Of Other Intra-Abdominal Tumour(S)">Resection of other
                intra-abdominal
                tumour(s)</option>
            <option value="Resection Of Meckel’s Diverticulum">Resection of Meckel’s diverticulum
            </option>
            <option value="Revision Of Stoma Via Midline Laparotomy">Revision of stoma via midline
                laparotomy </option>
            <option value="Washout Only">Washout only</option>
            <option value="Not Amenable To Surgery">Not amenable to surgery </option>
            <option value="Other">Other</option>
            <option value="ND">ND</option>


        </select>
    </div>

    <div class="form-group col-sm-6 input_visibility" id="otherthirdText">
        <label for="otherthirdprocedure">Other Third Procedure</label>
        <input type="text" name="otherthirdprocedure" class="form-control" id="otherthirdprocedure">
    </div>

</div>
<div class="row">

    <div class="form-group col-sm-6 input_visibility lap">
        <label for="procedureprocapproachid">Procedure Approach</label>
        <select name="procedureprocapproachid" id="procedureprocapproachid" class="form-control">
            <option value=""></option>
            <option value="Open">Open</option>
            <option value="Laparoscopic">Laparoscopic</option>
            <option value="Laparoscopic Assisted">Laparoscopic Assisted</option>
            <option value="Laparoscopic Converted To Open">Laparoscopic converted to open</option>
            <option value="ND">ND</option>
        </select>
    </div>
</div>



<div class="row">

    <div class="form-group col-sm-6 input_visibility lap">
        <label for="procedureoperfindingsid">Operative Findings</label>
        <select name="procedureoperfindingsid" id="procedureoperfindingsid" class="form-control">
            <option value=""></option>
            <option value="Abdominal Compartment Syndrome">Abdominal compartment syndrome</option>
            <option value="Abdominal Wound Dehiscence">Abdominal wound dehiscence</option>
            <option value="Abscess">Abscess</option>
            <option value="Adhesions">Adhesions</option>
            <option value="Anastomotic Leak">Anastomotic leak</option>
            <option value="Crohns Disease">Crohns Disease</option>
            <option value="Colorectal Cancer">Colorectal Cancer</option>
            <option value="Diverticulitis">Diverticulitis</option>
            <option value="Foreign Body">Foreign body</option>
            <option value="Gallstone Ileus">Gallstone Ileus</option>
            <option value="Gastric Cancer">Gastric cancer</option>
            <option value="Haemorrhage - Peptic Ulcer">Haemorrhage - peptic ulcer</option>
            <option value="Haemorrhage - Intestinal">Haemorrhage - intestinal</option>
            <option value="Haemorrhage - Postoperative">Haemorrhage - postoperative</option>
            <option value="Incarcerated Hernia">Incarcerated Hernia</option>
            <option value="Intestinal Fistula">Intestinal fistula</option>
            <option value="Internal Hernia">Internal Hernia</option>
            <option value="Intussusception">Intussusception</option>
            <option value="Intestinal Ischaemia">Intestinal Ischaemia</option>
            <option value="Malignancy – Localised">Malignancy – localised</option>
            <option value="Malignancy – Disseminated">Malignancy – disseminated</option>
            <option value="Meckel’s Diverticulum">Meckel’s diverticulum</option>
            <option value="Necrotising Fasciitis">Necrotising fasciitis</option>
            <option value="Normal Intra-Abdominal Findings">Normal intra-abdominal findings</option>
            <option value="Obstructing Incisional Hernia">Obstructing incisional hernia</option>
            <option value="Other Colitis">Other colitis</option>
            <option value="Perforation - Peptic Ulcer">Perforation - Peptic Ulcer</option>
            <option value="Perforation - Small bowel/colonic">Perforation - Small bowel/colonic</option>
            <option value="Pseudo-Obstruction">Pseudo-obstruction</option>
            <option value="Stoma Complications">Stoma complications</option>
            <option value="Stricture">Stricture</option>
            <option value="Ulcerative Colitis">Ulcerative colitis</option>
            <option value="Volvulus">Volvulus</option>
            <option value="Other">Other</option>
            <option value="ND">ND</option>


        </select>
    </div>

    <div class="form-group col-sm-6 input_visibility" id="otherfindingsText">
        <label for="otheroperativefindings">Other Operative Findings</label>
        <input type="text" name="otheroperativefindings" class="form-control" id="otheroperativefindings">
    </div>

</div>
<div class="row">

    <div class="form-group col-sm-6 input_visibility lap">
        <label for="procedureperitonealcontid">Describe the peritoneal contamination present</label>
        <select name="procedureperitonealcontid" id="procedureperitonealcontid" class="form-control">
            <option value=""></option>
            <option value="None Or Reactive Serous Fluid Only">None or reactive serous fluid only
            </option>
            <option value="Free Gas From Perforation +/- Minimal Contamination">Free gas from
                perforation
                +/- minimal contamination</option>
            <option value="Pus">Pus</option>
            <option value="Bile">Bile</option>
            <option value="Gastro-Duodenal Contents">Gastro-duodenal contents</option>
            <option value="Small Bowel Contents">Small bowel contents</option>
            <option value="Faeculent Fluid">Faeculent fluid</option>
            <option value="Faeces">Faeces</option>
            <option value="Blood/Haematoma">Blood/haematoma</option>
            <option value="ND">ND</option>


        </select>
    </div>
</div>

<div class="row">

    <div class="form-group col-sm-6 input_visibility lap">
        <label for="procedurecontaminationid">Please indicate if the contamination was</label>
        <select name="procedurecontaminationid" id="procedurecontaminationid" class="form-control">
            <option value=""></option>
            <option value="Localised To A Single Quadrant Of The Abdomen">Localised to a single quadrant
                of
                the abdomen</option>
            <option value="More Extensive/Generalised">More extensive / generalised</option>
            <option value="ND">ND</option>

        </select>
    </div>
</div>

<div class="row">
    <div class="form-group col-sm-5 input_visibility lap">
        <label for="abdomentleftopen">Was the abdomen left open or closed?</label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="abdomentleftopen" id="abdomentleftopenRadio1"
                value="Open">
            <label class="form-check-label" for="abdomentleftopenRadio1">Open</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="abdomentleftopen" id="abdomentleftopenRadio2"
                value="Closed">
            <label class="form-check-label" for="abdomentleftopenRadio2">Closed</label>
        </div>

    </div>

    <div class="form-group col-sm-7 input_visibility" id="intermittentfluidid">
        <label for="Intermittentpertfluidused">If open, was intermittent peritoneal dialysis fluid
            used?</label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="Intermittentpertfluidused"
                id="IntermittentpertfluidusedRadio1" value="Yes">
            <label class="form-check-label" for="IntermittentpertfluidusedRadio1">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="Intermittentpertfluidused"
                id="IntermittentpertfluidusedRadio2" value="No">
            <label class="form-check-label" for="IntermittentpertfluidusedRadio2">No</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="Intermittentpertfluidused"
                id="IntermittentpertfluidusedRadio3" value="ND">
            <label class="form-check-label" for="IntermittentpertfluidusedRadio3">ND</label>
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group col-sm-5 input_visibility lap">
        <label for="negpressuredressingused">Was a negative pressure wound therapy dressing used</label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="negpressuredressingused"
                id="negpressuredressingusedRadio1" value="Yes">
            <label class="form-check-label" for="negpressuredressingusedRadio1">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="negpressuredressingused"
                id="negpressuredressingusedRadio2" value="No">
            <label class="form-check-label" for="negpressuredressingusedRadio2">No</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="negpressuredressingused"
                id="negpressuredressingusedRadio3" value="ND">
            <label class="form-check-label" for="negpressuredressingusedRadio3">ND</label>
        </div>

    </div>

    <div class="form-group col-sm-7 input_visibility" id="openabdodocid">
        <label for="openabdomendocumented">If abdomen left open was it documented in clinical notes when
            a
            planned return to the operating theatre would be</label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="openabdomendocumented" id="openabdomendocumentedRadio1"
                value="Yes">
            <label class="form-check-label" for="openabdomendocumentedRadio1">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="openabdomendocumented" id="openabdomendocumentedRadio2"
                value="No">
            <label class="form-check-label" for="openabdomendocumentedRadio2">No</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="openabdomendocumented" id="openabdomendocumentedRadio3"
                value="ND">
            <label class="form-check-label" for="openabdomendocumentedRadio3">ND</label>
        </div>

    </div>

</div>