<div class="row">
    <div class="form-group col-sm-6 input_visibility rif">
        <label for="interventionalradiology">Interventional Radiology</label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="interventionalradiology" id="radiologyRadio1"
                value="Yes">
            <label class="form-check-label" for="radiologyRadio1">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="interventionalradiology" id="radiologyRadio2" value="No">
            <label class="form-check-label" for="radiologyRadio2">No</label>
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group col-sm-6 input_visibility rif">
        <label for="rifsurgeryid">Surgery</label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="rifsurgeryid" id="surgeryRadio1" value="Yes">
            <label class="form-check-label" for="surgeryRadio1">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="rifsurgeryid" id="surgeryRadio2" value="No">
            <label class="form-check-label" for="surgeryRadio2">No</label>
        </div>
    </div>
</div>


<div class="row">

    <div class="form-group col input_visibility lap">
        <label for="procedurefirstprocedureid">Is this the First Surgical Procedure Of This
            Admission?</label>
        <select name="procedurefirstprocedureid" id="procedurefirstprocedureid" class="form-control">
            <option value=""></option>
            <option value="Yes – first surgical procedure after admission">Yes – first surgical
                procedure
                after admission</option>
            <option
                value="No – Surgery for complication of previous elective general surgical procedure within the same admission">
                No – Surgery for complication of previous elective general surgical procedure within the
                same admission</option>
            <option
                value="No – previous ‘non-abdominal/non-general surgical’ procedure within same admission (e.g. previous hip replacement)">
                No – previous ‘non-abdominal/non-general surgical’ procedure within same admission (e.g.
                previous hip replacement)</option>
            <option value="ND">ND</option>

        </select>
    </div>
</div>

<div class="row">

    <div class="form-group col-sm-6 input_visibility lap">
        <label for="proceduresurgeryindid">What is the indication for surgery</label>
        <select name="proceduresurgeryindid" id="proceduresurgeryindid" class="form-control">
            <option value=""></option>
            <option value="Abdominal abscess">Abdominal abscess</option>
            <option value="Abdominal compartment syndrome">Abdominal compartment syndrome</option>
            <option value="Abdominal wound dehiscence">Abdominal wound dehiscence</option>
            <option value="Anastomotic leak">Anastomotic leak</option>
            <option value="Colitis/ Crohns">Colitis/ Crohns</option>
            <option value="Foreign body">Foreign body</option>
            <option value="Haemorrhage">Haemorrhage</option>
            <option value="Hernia">Hernia</option>
            <option value="Intestinal fistula">Intestinal fistula</option>
            <option value="Intussusception">Intussusception</option>
            <option value="Ischaemia">Ischaemia</option>
            <option value="Large bowel obstruction">Large bowel obstruction</option>
            <option value="Obstructing incisional hernia">Obstructing incisional hernia</option>
            <option value="Perforation">Perforation</option>
            <option value="Peritonitis">Peritonitis</option>
            <option value="Planned relook">Planned relook</option>
            <option value="Pseudo-obstruction">Pseudo-obstruction</option>
            <option value="Sepsis">Sepsis</option>
            <option value="Small bowel obstruction">Small bowel obstruction</option>
            <option value="Volvulus">Volvulus</option>
            <option value="Other">Other</option>

        </select>
    </div>
</div>

<div class="row">

    <div class="form-group col-sm-6 input_visibility lap">
        <label for="proceduremainprocedureid">Main procedure</label>
        <select name="proceduremainprocedureid" id="proceduremainprocedureid" class="form-control">
            <option value=""></option>
            <option value="Peptic ulcer – suture or repair of perforation">Peptic ulcer – suture or
                repair
                of perforation</option>
            <option value="Peptic ulcer – over sew of bleed">Peptic ulcer – over sew of bleed</option>
            <option value="Gastrectomy: partial or total">Gastrectomy: partial or total</option>
            <option value="Gastric surgery - other">Gastric surgery - other</option>
            <option value="Small bowel resection">Small bowel resection</option>
            <option value="Resection of Meckel’s diverticulum">Resection of Meckel’s diverticulum
            </option>
            <option value="Colectomy: left (including sigmoid colectomy and anterior resection)">
                Colectomy:
                left (including sigmoid colectomy and anterior resection)</option>
            <option value="Colectomy: right (including ileocecal resection)">Colectomy: right (including
                ileocecal resection)</option>
            <option value="Colectomy: subtotal or panproctocolectomy">Colectomy: subtotal or
                panproctocolectomy</option>
            <option value="Hartmann’s procedure">Hartmann’s procedure</option>
            <option value="Colorectal resection - other">Colorectal resection - other</option>
            <option value="Abdominal wall closure following dehiscence">Abdominal wall closure following
                dehiscence</option>
            <option value="Abdominal wall reconstruction">Abdominal wall reconstruction</option>
            <option value="Adhesiolysis">Adhesiolysis</option>
            <option value="Reduction of volvulus">Reduction of volvulus</option>
            <option value="Enterotomy">Enterotomy</option>
            <option value="Stricturoplasty">Stricturoplasty</option>
            <option value="Drainage of abscess/collection">Drainage of abscess/collection</option>
            <option value="Evacuation of haematoma">Evacuation of haematoma</option>
            <option value="Debridement">Debridement</option>
            <option value="Exploratory/relook laparotomy only">Exploratory/relook laparotomy only
            </option>
            <option value="Haemostasis">Haemostasis</option>
            <option value="Intestinal bypass">Intestinal bypass</option>
            <option value="Laparostomy formation">Laparostomy formation</option>
            <option value="Repair of intestinal perforation">Repair of intestinal perforation</option>
            <option value="Repair or revision of anastomosis">Repair or revision of anastomosis</option>
            <option value="Repair of intestinal fistula">Repair of intestinal fistula</option>
            <option value="Resection of other intra-abdominal tumour(s)">Resection of other
                intra-abdominal
                tumour(s)</option>
            <option value="Defunctioning stoma via midline laparotomy">Defunctioning stoma via midline
                laparotomy</option>
            <option value="Revision of stoma via midline laparotomy ">Revision of stoma via midline
                laparotomy </option>
            <option value="Large incisional hernia repair with bowel resection">Large incisional hernia
                repair with bowel resection</option>
            <option value="Large incisional hernia repair with division of adhesions">Large incisional
                hernia repair with division of adhesions</option>
            <option value="Washout only">Washout only</option>
            <option value="Removal of foreign body">Removal of foreign body</option>
            <option value="Not amenable to surgery ">Not amenable to surgery </option>
            <option value="Other">Other</option>


        </select>
    </div>
</div>
<div class="row">

    <div class="form-group col-sm-6 input_visibility lap">
        <label for="proceduresecondprocedureid">Second procedure</label>
        <select name="proceduresecondprocedureid" id="proceduresecondprocedureid" class="form-control">
            <option value=""></option>
            <option value="Peptic ulcer – suture or repair of perforation">Peptic ulcer – suture or
                repair
                of perforation</option>
            <option value="Peptic ulcer – over sew of bleed">Peptic ulcer – over sew of bleed</option>
            <option value="Gastrectomy: partial or total">Gastrectomy: partial or total</option>
            <option value="Gastric surgery - other">Gastric surgery - other</option>
            <option value="Small bowel resection">Small bowel resection</option>
            <option value="Resection of Meckel’s diverticulum">Resection of Meckel’s diverticulum
            </option>
            <option value="Colectomy: left (including sigmoid colectomy and anterior resection)">
                Colectomy:
                left (including sigmoid colectomy and anterior resection)</option>
            <option value="Colectomy: right (including ileocecal resection)">Colectomy: right (including
                ileocecal resection)</option>
            <option value="Colectomy: subtotal or panproctocolectomy">Colectomy: subtotal or
                panproctocolectomy</option>
            <option value="Hartmann’s procedure">Hartmann’s procedure</option>
            <option value="Colorectal resection - other">Colorectal resection - other</option>
            <option value="Abdominal wall closure following dehiscence">Abdominal wall closure following
                dehiscence</option>
            <option value="Abdominal wall reconstruction">Abdominal wall reconstruction</option>
            <option value="Adhesiolysis">Adhesiolysis</option>
            <option value="Reduction of volvulus">Reduction of volvulus</option>
            <option value="Enterotomy">Enterotomy</option>
            <option value="Stricturoplasty">Stricturoplasty</option>
            <option value="Drainage of abscess/collection">Drainage of abscess/collection</option>
            <option value="Evacuation of haematoma">Evacuation of haematoma</option>
            <option value="Debridement">Debridement</option>
            <option value="Exploratory/relook laparotomy only">Exploratory/relook laparotomy only
            </option>
            <option value="Haemostasis">Haemostasis</option>
            <option value="Intestinal bypass">Intestinal bypass</option>
            <option value="Laparostomy formation">Laparostomy formation</option>
            <option value="Repair of intestinal perforation">Repair of intestinal perforation</option>
            <option value="Repair or revision of anastomosis">Repair or revision of anastomosis</option>
            <option value="Repair of intestinal fistula">Repair of intestinal fistula</option>
            <option value="Resection of other intra-abdominal tumour(s)">Resection of other
                intra-abdominal
                tumour(s)</option>
            <option value="Defunctioning stoma via midline laparotomy">Defunctioning stoma via midline
                laparotomy</option>
            <option value="Revision of stoma via midline laparotomy ">Revision of stoma via midline
                laparotomy </option>
            <option value="Large incisional hernia repair with bowel resection">Large incisional hernia
                repair with bowel resection</option>
            <option value="Large incisional hernia repair with division of adhesions">Large incisional
                hernia repair with division of adhesions</option>
            <option value="Washout only">Washout only</option>
            <option value="Removal of foreign body">Removal of foreign body</option>
            <option value="Not amenable to surgery ">Not amenable to surgery </option>
            <option value="Other">Other</option>


        </select>
    </div>
</div>
<div class="row">

    <div class="form-group col-sm-6 input_visibility lap">
        <label for="procedurethirdprocedureid">Third procedure</label>
        <select name="procedurethirdprocedureid" id="procedurethirdprocedureid" class="form-control">
            <option value=""></option>
            <option value="Peptic ulcer – suture or repair of perforation">Peptic ulcer – suture or
                repair
                of perforation</option>
            <option value="Peptic ulcer – over sew of bleed">Peptic ulcer – over sew of bleed</option>
            <option value="Gastrectomy: partial or total">Gastrectomy: partial or total</option>
            <option value="Gastric surgery - other">Gastric surgery - other</option>
            <option value="Small bowel resection">Small bowel resection</option>
            <option value="Resection of Meckel’s diverticulum">Resection of Meckel’s diverticulum
            </option>
            <option value="Colectomy: left (including sigmoid colectomy and anterior resection)">
                Colectomy:
                left (including sigmoid colectomy and anterior resection)</option>
            <option value="Colectomy: right (including ileocecal resection)">Colectomy: right (including
                ileocecal resection)</option>
            <option value="Colectomy: subtotal or panproctocolectomy">Colectomy: subtotal or
                panproctocolectomy</option>
            <option value="Hartmann’s procedure">Hartmann’s procedure</option>
            <option value="Colorectal resection - other">Colorectal resection - other</option>
            <option value="Abdominal wall closure following dehiscence">Abdominal wall closure following
                dehiscence</option>
            <option value="Abdominal wall reconstruction">Abdominal wall reconstruction</option>
            <option value="Adhesiolysis">Adhesiolysis</option>
            <option value="Reduction of volvulus">Reduction of volvulus</option>
            <option value="Enterotomy">Enterotomy</option>
            <option value="Stricturoplasty">Stricturoplasty</option>
            <option value="Drainage of abscess/collection">Drainage of abscess/collection</option>
            <option value="Evacuation of haematoma">Evacuation of haematoma</option>
            <option value="Debridement">Debridement</option>
            <option value="Exploratory/relook laparotomy only">Exploratory/relook laparotomy only
            </option>
            <option value="Haemostasis">Haemostasis</option>
            <option value="Intestinal bypass">Intestinal bypass</option>
            <option value="Laparostomy formation">Laparostomy formation</option>
            <option value="Repair of intestinal perforation">Repair of intestinal perforation</option>
            <option value="Repair or revision of anastomosis">Repair or revision of anastomosis</option>
            <option value="Repair of intestinal fistula">Repair of intestinal fistula</option>
            <option value="Resection of other intra-abdominal tumour(s)">Resection of other
                intra-abdominal
                tumour(s)</option>
            <option value="Defunctioning stoma via midline laparotomy">Defunctioning stoma via midline
                laparotomy</option>
            <option value="Revision of stoma via midline laparotomy ">Revision of stoma via midline
                laparotomy </option>
            <option value="Large incisional hernia repair with bowel resection">Large incisional hernia
                repair with bowel resection</option>
            <option value="Large incisional hernia repair with division of adhesions">Large incisional
                hernia repair with division of adhesions</option>
            <option value="Washout only">Washout only</option>
            <option value="Removal of foreign body">Removal of foreign body</option>
            <option value="Not amenable to surgery ">Not amenable to surgery </option>
            <option value="Other">Other</option>


        </select>
    </div>
</div>
<div class="row">

    <div class="form-group col-sm-6 input_visibility lap">
        <label for="procedureprocapproachid">Procedure Approach</label>
        <select name="procedureprocapproachid" id="procedureprocapproachid" class="form-control">
            <option value=""></option>
            <option value="Open">Open</option>
            <option value="Laparoscopic">Laparoscopic</option>
            <option value="Laparoscopic Assisted">Laparoscopic Assisted</option>
            <option value="Laparoscopic converted to open">Laparoscopic converted to open</option>
        </select>
    </div>
</div>



<div class="row">

    <div class="form-group col-sm-6 input_visibility lap">
        <label for="procedureoperfindingsid">Operative Findings</label>
        <select name="procedureoperfindingsid" id="procedureoperfindingsid" class="form-control">
            <option value=""></option>
            <option value="Abscess">Abscess</option>
            <option value="Abdominal compartment syndrome">Abdominal compartment syndrome</option>
            <option value="Adhesions">Adhesions</option>
            <option value="Abdominal wound dehiscence">Abdominal wound dehiscence</option>
            <option value="Anastomotic leak">Anastomotic leak</option>
            <option value="Crohns Disease">Crohns Disease</option>
            <option value="Colorectal Cancer">Colorectal Cancer</option>
            <option value="Diverticulitis">Diverticulitis</option>
            <option value="Foreign body">Foreign body</option>
            <option value="Haemorrhage - peptic ulcer">Haemorrhage - peptic ulcer</option>
            <option value="Haemorrhage - intestinal">Haemorrhage - intestinal</option>
            <option value="Haemorrhage - postoperative">Haemorrhage - postoperative</option>
            <option value="Gallstone Ileus">Gallstone Ileus</option>
            <option value="Gastric cancer">Gastric cancer</option>
            <option value="Incarcerated Hernia">Incarcerated Hernia</option>
            <option value="Intestinal fistula">Intestinal fistula</option>
            <option value="Internal Hernia">Internal Hernia</option>
            <option value="Intussusception">Intussusception</option>
            <option value="Intestinal Ischaemia">Intestinal Ischaemia</option>
            <option value="Malignancy – localised">Malignancy – localised</option>
            <option value="Malignancy – disseminated">Malignancy – disseminated</option>
            <option value="Meckel’s diverticulum">Meckel’s diverticulum</option>
            <option value="Necrotising fasciitis">Necrotising fasciitis</option>
            <option value="Normal intra-abdominal findings">Normal intra-abdominal findings</option>
            <option value="Obstructing incisional hernia">Obstructing incisional hernia</option>
            <option value="Other colitis">Other colitis</option>
            <option value="Perforation - Peptic Ulcer">Perforation - Peptic Ulcer</option>
            <option value="Perforation - Small bowel/colonic">Perforation - Small bowel/colonic</option>
            <option value="Pseudo-obstruction">Pseudo-obstruction</option>
            <option value="Stoma complications">Stoma complications</option>
            <option value="Stricture">Stricture</option>
            <option value="Ulcerative colitis">Ulcerative colitis</option>
            <option value="Volvulus">Volvulus</option>
            <option value="Other">Other</option>

        </select>
    </div>
</div>
<div class="row">

    <div class="form-group col-sm-6 input_visibility lap">
        <label for="procedureperitonealcontid">Describe the peritoneal contamination present</label>
        <select name="procedureperitonealcontid" id="procedureperitonealcontid" class="form-control">
            <option value=""></option>
            <option value="None or reactive serous fluid only">None or reactive serous fluid only
            </option>
            <option value="Free gas from perforation +/- minimal contamination">Free gas from
                perforation
                +/- minimal contamination</option>
            <option value="Pus">Pus</option>
            <option value="Bile">Bile</option>
            <option value="Gastro-duodenal contents">Gastro-duodenal contents</option>
            <option value="Small bowel contents">Small bowel contents</option>
            <option value="Faeculent fluid">Faeculent fluid</option>
            <option value="Faeces">Faeces</option>
            <option value="Blood/haematoma">Blood/haematoma</option>


        </select>
    </div>
</div>

<div class="row">

    <div class="form-group col-sm-6 input_visibility lap">
        <label for="procedurecontaminationid">Please indicate if the contamination was</label>
        <select name="procedurecontaminationid" id="procedurecontaminationid" class="form-control">
            <option value=""></option>
            <option value="Localised to a single quadrant of the abdomen">Localised to a single quadrant
                of
                the abdomen</option>
            <option value="More extensive / generalised">More extensive / generalised</option>

        </select>
    </div>
</div>

<div class="row">
    <div class="form-group col-sm-5 input_visibility lap">
        <label for="abdomentleftopen">Was the abdomen left open or closed?</label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="abdomentleftopen" id="abdomentleftopenRadio1"
                value="Open">
            <label class="form-check-label" for="abdomentleftopenRadio1">Open</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="abdomentleftopen" id="abdomentleftopenRadio2"
                value="Closed">
            <label class="form-check-label" for="abdomentleftopenRadio2">Closed</label>
        </div>

    </div>

    <div class="form-group col-sm-7 input_visibility" id="intermittentfluidid">
        <label for="Intermittentpertfluidused">If open, was intermittent peritoneal dialysis fluid
            used?</label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="Intermittentpertfluidused"
                id="IntermittentpertfluidusedRadio1" value="Yes">
            <label class="form-check-label" for="IntermittentpertfluidusedRadio1">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="Intermittentpertfluidused"
                id="IntermittentpertfluidusedRadio2" value="No">
            <label class="form-check-label" for="IntermittentpertfluidusedRadio2">No</label>
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group col-sm-5 input_visibility lap">
        <label for="negpressuredressingused">Was a negative pressure wound therapy dressing used</label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="negpressuredressingused"
                id="negpressuredressingusedRadio1" value="Yes">
            <label class="form-check-label" for="negpressuredressingusedRadio1">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="negpressuredressingused"
                id="negpressuredressingusedRadio2" value="No">
            <label class="form-check-label" for="negpressuredressingusedRadio2">No</label>
        </div>

    </div>

    <div class="form-group col-sm-7 input_visibility" id="openabdodocid">
        <label for="openabdomendocumented">If abdomen left open was it documented in clinical notes when
            a
            planned return to the operating theatre would be</label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="openabdomendocumented" id="openabdomendocumentedRadio1"
                value="Yes">
            <label class="form-check-label" for="openabdomendocumentedRadio1">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="openabdomendocumented" id="openabdomendocumentedRadio2"
                value="No">
            <label class="form-check-label" for="openabdomendocumentedRadio2">No</label>
        </div>

    </div>

</div>