<div class="row">
    <div class="form-group col-sm-6 input_visibility rif">
        <label for="histabdominalsurgeryid">History of Prior Abdominal Surgery</label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="histabdominalsurgeryid" id="histAbRadio1" value="Yes">
            <label class="form-check-label" for="histAbRadio1">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="histabdominalsurgeryid" id="histAbRadio2" value="No">
            <label class="form-check-label" for="histAbRadio2">No</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="histabdominalsurgeryid" id="histAbRadio3" value="ND">
            <label class="form-check-label" for="histAbRadio3">ND</label>
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group col-sm-6 input_visibility rif">
        <label for="prevadmiswithrifpainid">Previous Admission with RIF Pain</label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="prevadmiswithrifpainid" id="prevRIFRadio1" value="Yes">
            <label class="form-check-label" for="prevRIFRadio1">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="prevadmiswithrifpainid" id="prevRIFRadio2" value="No">
            <label class="form-check-label" for="prevRIFRadio2">No</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="prevadmiswithrifpainid" id="prevRIFRadio3" value="ND">
            <label class="form-check-label" for="prevRIFRadio3">ND</label>
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group col-sm-6 input_visibility rif">
        <label for="hrsdayssincepainonsetid">Hours or Days since Onset of Pain</label>
        <select name="hrsdayssincepainonsetid" id="hrsdayssincepainonsetid" class="form-control">
            <option value=""></option>
            <option value="hours_0-24">0-24 Hours</option>
            <option value="Days_1">1 day</option>
            <option value="Days_2">2 days</option>
            <option value="Days_3"> days</option>
            <option value="Days_4">4 days</option>
            <option value="Days_5">5 days</option>
            <option value="Days_6">6 days</option>
            <option value="Days_7+">7+ days</option>
            <option value="ND">ND</option>
        </select>
    </div>
</div>


<div class="row">
    <div class="form-group col-sm-6 input_visibility ruq">
        <label for="dayssincepainonsetid">Days since Onset of Pain</label>
        <select name="dayssincepainonsetid" id="dayssincepainonsetid" class="form-control">
            <option value=""></option>
            <option value="Days_1">1</option>
            <option value="Days_2">2</option>
            <option value="Days_3">3</option>
            <option value="Days_4">4</option>
            <option value="Days_5">5</option>
            <option value="Days_6">6</option>
            <option value="Days_7">7</option>
            <option value="Days_7+"> >7 days</option>
            <option value="ND">ND</option>
        </select>
    </div>
</div>


<div class="row">
    <div class="form-group col-sm-6 input_visibility ruq">
        <label for="firstepisodeid">First Episode</label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="firstepisodeid" id="firstEpRadio1" value="Yes">
            <label class="form-check-label" for="firstEpRadio1">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="firstepisodeid" id="firstEpRadio2" value="No">
            <label class="form-check-label" for="firstEpRadio2">No</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="firstepisodeid" id="firstEpRadio3" value="ND">
            <label class="form-check-label" for="firstEpRadio3">ND</label>
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group col-sm-6 input_visibility ruq">
        <label for="prevadmiswithcholid">Previous admission with cholecystitis</label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="prevadmiswithcholid" id="prevColRadio1" value="None">
            <label class="form-check-label" for="prevColRadio1">None</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="prevadmiswithcholid" id="prevColRadio2" value="one">
            <label class="form-check-label" for="prevColRadio2">1</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="prevadmiswithcholid" id="prevColRadio3" value="two">
            <label class="form-check-label" for="prevColRadio3">2</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="prevadmiswithcholid" id="prevColRadio4" value=">2">
            <label class="form-check-label" for="prevColRadio4">> 2</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="prevadmiswithcholid" id="prevColRadio5" value="ND">
            <label class="form-check-label" for="prevColRadio5">ND</label>
        </div>
    </div>
</div>